{% extends 'base.html' %}
{% load staticfiles %}


{% block title %} <title>Home Page</title> {% endblock %}
{% block css %}
	<link type="text/css" rel="stylesheet" href="/static/css/styles.css"> 
		
{% endblock %}
{% block js %}
	<script src="/static/js/jquery.js"></script> 
		
{% endblock %}

{% block header %}
  		<header>
			{% if user%}
	  		<button onclick="logout()" > Logout</button>
			{% endif %}
      		
      		<nav>
      		</nav>
    	</header>
    	{% endblock %}
{% block main%}
 <h4>home page</h4>
  
 {% endblock %}
