<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="utf-8">
	
	  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
	       Remove this if you use the .htaccess -->
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	  {% block title %}<title>Base</title>{% endblock %}
	  <meta name="description" content="">
	  <meta name="author" content="Giorgi Areshidze">
	
	  <meta name="viewport" content="width=device-width; initial-scale=1.0">
	  <script src="/static/js/jquery-1.8.3.min.js"></script>
	  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	  <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
	  <link rel="shortcut icon" href="/favicon.ico">
	  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
	  {% block css %}
	  
	  {% endblock %}
	  {% block js %}
	  <script>
	  </script>
	  {% endblock %}
	</head>
	<body>
		{% block header %}
  		
    	{% endblock %}
    	{% block main %}<div>
    	<div>
    	{% endblock %}
     	
    
    
    {% block footer %}
	<footer>
		<p>&copy; Copyright  by Rustaveli Cinema</p>
	</footer>
	{% endblock %}
</body>
</html>