{% extends 'base.html' %}
{% load staticfiles %}


{% block title %} <title>Hall Page | ERP Rustaveli</title> {% endblock %}
{% block js %}
	<script src="/static/js/hall.js"></script>
	<script src="/static/js/jquery.js"></script> 
{% endblock %}
{% block css %}
	<link type="text/css" rel="stylesheet" href="/static/css/styles.css"> 
{% endblock %}

{% block header %}
  		<header>
			{% if user%}
	  		<button onclick="logout()" > Logout</button>
			{% endif %}
      		
      		<nav>
      		</nav>
    	</header>
    	{% endblock %}

{% block main%}

	{% if error %}
		<div style="color: red;">{{error}}</div>
	{% endif%}

    <style>
    
    	
    </style>
    <link type="text/css" rel="stylesheet" href="/static/css/{{hall.name}}.css">
    <link type="text/css" rel="stylesheet" href="/static/css/seats.css">
    <div id="seat_types">
    	<ul>
    	<li><div class="seat eco"></div><label>Economy</label></li>
    	<li><div class="seat std"></div><label>Standard</label></li>
    	<li><div class="seat vip"></div><label>VIP</label></li>
    	<li><div class="seat sta"></div><label>Status</label></li>
    	</ul>
    </div>
    <div class="caption">&nbsp;</div>
    <div class="caption_hall">{{hall.title}}</div>
    <div class="main">
    	<!--
		{% for row in rows %}
		  <center><li style="list-style: none; margin-top: 5px;"><div class="seat_title">{{row.name}}</div>
		  {% for dict in row.seats %}
		    {% if dict.name != "0" %}
		  		<div id="row{{ row.name }}seat{{dict.name}}" class="seat {{dict.stype}}" onmouseover="seat_mouseover(id)" onmouseout="seat_mouseout(id)"> <div class="inner">{{dict.name}}</div></div>
		    {% else %}
		    	<div id="" class="seat_ {{dict.stype}}" onmouseover="seat_mouseover(id)" onmouseout="seat_mouseout(id)"> <div class="inner">&nbsp;</div></div>
		    {% endif  %}
		  {% endfor %}
		<div class="seat_title_right">{{row.name}}</div></li></center>
		{% endfor %}
		-->
		    	{% for row in rows %}
		    	<center><li style="list-style: none; margin-top: 5px;"><div class="seat_title">{{row.name}}</div>
		    	 {% for seat in row.seats %}
		    		
		    		{% if seat.ttype != "emp" %}
		  		<div sid="{{seat.id}}" id="r{{ row.name }}s{{seat.seat}}" class="seat {{seat.ttype}}" onclick="seat_clicked(id)"  onmouseover="seat_mouseover(id)" onmouseout="seat_mouseout(id)"> <div class="inner">{{seat.seat}}</div></div>
		    {% else %}
		    	<div id="" class="seat_" style="visibility:invisible;" onmouseover="seat_mouseover(id)" onmouseout="seat_mouseout(id)"> <div class="inner">&nbsp;</div></div>
		    {% endif  %}
		    	 	<!--<div sid="{{seat.id}}" id="row{{ row.name }}seat{{seat.seat}}" class="seat {{seat.ttype}}" onclick="seat_clicked(id)"  onmouseover="seat_mouseover(id)" onmouseout="seat_mouseout(id)"> <div class="inner">{{seat.seat}}</div></div>-->
		    	 {% endfor%}
		    	 <div class="seat_title_right">{{row.name}}</div></li></center>
		    	{% endfor %}
    </div>
    
{% endblock %}
