{% extends 'base.html' %}
{% load staticfiles %}


{% block title %} <title>Hall Page | ERP Rustaveli</title> {% endblock %}
{% block js %}
	<script src="/static/js/hall.js"></script> 
{% endblock %}
{% block css %}
	<link type="text/css" rel="stylesheet" href="/static/css/styles.css"> 
{% endblock %}

{% block header %}
  		<header>
			{% if user%}
	  		<button onclick="logout()" > Logout</button>
			{% endif %}
      		
      		<nav>
      		</nav>
    	</header>
    	{% endblock %}

{% block main%}

	{% if error %}
		<div style="color: red;">{{error}}</div>
	{% endif%}

    <style>
    center{
    	height: 25px;
    }
    	ul li{
    		list-style:none;
    		height: 25px;
    	}
    	li{ list-stye:none;}
    	.seat:hover{
    		background-color: #444;
    		height: 25px;
    	}
    	.seat{
    		display: inline-block; 
    		width: 25px; 
    		height:25px; 
    		border:solid 1px;
    	    cursor:pointer;
    	    border-radius:2px;
    	}
    	.seat_title{
    		float:left;
    		display: inline-block; 
    		width: 25px; 
    		height:25px; 
    		border:solid 1px;
    	    cursor:pointer;
    	    vertical-align:middle;
    	    
    	}
    	.seat_title_right{
    		float:right;
    		display: inline-block; 
    		width: 25px; 
    		height:25px; 
    		border:solid 1px;
    	    cursor:pointer;
    	    vertical-align:middle;
    	    
    	}
    	.caption{
    		position:fixed;
    		right: 100px;
    		top: 100px;
    		font-size: 20pt;
    	}
    </style>
    <div class="caption">&nbsp;</div>
    
    <div>
		{% for key, values in seats %}
		  <center><li style="list-style: none; margin-top: 5px;"><div class="seat_title">{{values.name}}</div>
		    {% for seat in values.seats %}
			  
		       {% ifequal seat 1 %} 
		         <div id="row:{{ values.name }} seat:{{forloop.counter}}" class="seat" onmouseover="seat_mouseover(id)" onmouseout="seat_mouseout(id)"> &nbsp; </div>
		   	   {% endifequal %}
		     {% endfor %}
		  
		  
		  <div class="seat_title_right">{{values.name}}</div></li></center>
		{% endfor %}    	
    </div>
    
    
{% endblock %}
