{% extends 'base.html' %}
{% load staticfiles %}


{% block title %} <title>Hall Page | ERP Rustaveli</title> {% endblock %}
{% block js %}
	<script src="/static/js/hall.js"></script>
	<script src="/static/js/jquery.js"></script>
	<script>
		var smth = "{{var}}";
	</script> 
{% endblock %}
{% block css %}
	<link type="text/css" rel="stylesheet" href="/static/css/styles.css"> 
{% endblock %}

{% block header %}
  		<header>
			{% if user%}
	  		<button onclick="logout()" > Logout</button>
			{% endif %}
      		
      		<nav>
      		</nav>
    	</header>
    	{% endblock %}

{% block main%}

	{% if error %}
		<div style="color: red;">{{error}}</div>
	{% endif%}

    <h2>Title is {{var}}</h2>
    
{% endblock %}
