{% extends 'base.html' %}
{% load staticfiles %}


{% block title %} <title>Search Page | Companies</title> {% endblock %}
{% block js %}
	<script src="/static/js/jquery.js"></script> 
{% endblock %}
{% block css %}
	<link type="text/css" rel="stylesheet" href="/static/css/styles.css"> 
{% endblock %}

{% block header %}
  		<header>
			{% if user%}
	  		<button onclick="logout()" > Logout</button>
			{% endif %}
      		
      		<nav>
      		</nav>
    	</header>
    	{% endblock %}

{% block main%}

	{% if error %}
		<div style="color: red;">{{error}}</div>
	{% endif%}

    <div>
     	<form action="" method="post">
     		{% csrf_token %}
     		<input name="name" type="text" id="name" autocomplete="off">
     		<input value="search" type="submit">
     	</form>
    </div>
    <div id="fill"></div>
    <div>
    	{% if employee %}
           <h1>{{employee.name }}</h1>
        {% endif %}
    </div>
{% endblock %}
