{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}

{% block title %} <title>Session Page | ERP Rustaveli</title> {% endblock %}
{% block js %}
	<script src="/static/js/session.js"></script>
	<script src="/static/js/jquery.js"></script>
	<script>
	    var timer = setInterval(get_available_seats, 3000);
	    var con = "{{const}}";
	    var ip = "{{ip}}";
		var sess = "{{sess}}";
		$(document).ready(function(){
			get_available_seats();
			post_data("{{sess}}");
			
		});
		function post_data(value){
			$.post("/ticket/", {sess:value}, function(data){
				var data_ = $.parseJSON(data);
				for(x in data_){
					if(data_[x].fields.status=="RE"){
						$("#"+data_[x].fields.name).attr("class", "seat reserved");
						$("#"+data_[x].fields.name).attr("sel", "false");	
					}else{
						$("#"+data_[x].fields.name).attr("class", "seat sold");
						$("#"+data_[x].fields.name).attr("sel", "false");
					}
					
					
					$("#"+data_[x].fields.name).attr("status", data_[x].fields.status);
				}
			});
		}
		function post_transaction(id){
			if(id=="reserve"){
				post_selected("RE");
			}else if(id=="sell"){
				post_selected("SL");
			}else{
				sell_reserved();
			}
		}
		
		
		function post_selected(event){
			var array = JSON.stringify(selected, null, 2);
			$.post("/ticket_order/", {data:array, sess:"{{sess}}", trtype:event}, function(data){
				
				var data_ = $.parseJSON(data);
				for(x in data_){
					//console.log(data_[x].fields.name);
					
					//$("#"+data_[x].fields.name).attr("status", data_[x].fields.status);
				}
				selected = [];
				post_data("{{sess}}");
				get_available_seats();
			});
		
		}
		function get_available_seats(){
			$.post("/ticketSales/{{hall.name}}/{{date}}/{{time}}/", function(data){
				var data = $.parseJSON(data);
				
				for (x in data){
					$("#av_"+x).html(+data[x]);
				}
			});
		}
		
		function sell_reserved(){
			var array = JSON.stringify(selected, null, 2);
			$.post("/ticket_order/", {rs:array, sess:"{{sess}}"}, function(data){
				var data_ = $.parseJSON(data);
				for(x in data_){
					//console.log(data_[x].fields.name);
					if(data_[x].fields.status=="RE"){
						$("#"+data_[x].fields.name).attr("class", "seat reserved");	
					}else{
						$("#"+data_[x].fields.name).attr("class", "seat sold");
					}
					//$("#"+data_[x].fields.name).attr("status", data_[x].fields.status);
				}
				post_data("{{sess}}");
			});
		
		}	
		
		function get_type_caption(caption){
			if(caption=="std"){
				return "Standard";
			}
			if(caption=="vip"){
				return "VIP";
			}
			if(caption=="sta"){
				return "Status";
			}
			if(caption=="eco"){
				return "Economy";
			}
		}
	</script>
	 
{% endblock %}
{% block css %}
	<link type="text/css" rel="stylesheet" href="/static/css/styles.css">
	<link type="text/css" rel="stylesheet" href="/static/css/session.css"> 
{% endblock %}

{% block header %}
  		<header>
			{% if user%}
	  		<button onclick="logout()" > Logout</button>
			{% endif %}
      		
      		<nav>
      		</nav>
    	</header>
    	{% endblock %}

{% block main%}

	{% if error %}
		<div style="color: red;">{{error}}</div>
	{% endif%}

    <style>
    
    	
    </style>
    <link type="text/css" rel="stylesheet" href="/static/css/{{hall.name}}.css">
    <div id="seat_types">
    	<ul>
    		{% for type in seat_types %}
    		  <li><div class="seat__  {{type}}">{{ type | get_caption}}</div><label id="av_{{type}}"></label></li>
    		{% endfor%} 
    	
    	
    	
    	<li><div class="seat__">Total</div><label id="av_total"></label></li>
    	<li style="background-color: #eee;"><div class="li_empty"></div></li>
    	<li style="background-color: #eee;"><div class="li_empty"></div></li>
    	<li style="background-color: #eee;"><div class="li_empty"></div></li>
    	<li><div class="seat__ reserved_">Reserved</div><label id="av_reserved"></label></li>
    	<li><div class="seat__ sold_">Sold</div><label id="av_sold"></label></li>
    	<li><div class="seat__">Total</div><label id="av_ototal"></label></li>
    	</ul>
    </div>
    <div class="transactions">
    	<input type="button" onclick="post_transaction(id)" id="reserve" value="Reserve"/>
    	<input type="button" onclick="post_transaction(id)" id="sell" value="Sell"/>
    	<input type="button" onclick="post_transaction(id)" id="sell_reserved" value="Sell Reserved"/>
    </div>
    <div class="caption">&nbsp;</div>
    <div class="caption_hall">{{hall.title}}</div>
    <div class="caption_date">{{date}}</div>
    <div class="caption_time">{{time}}</div>
    <div class="main">
    	<!--
		{% for row in rows %}
		  <center><li style="list-style: none; margin-top: 5px;"><div class="seat_title">{{row.name}}</div>
		  {% for dict in row.seats %}
		    {% if dict.name != "0" %}
		  		<div id="row{{ row.name }}seat{{dict.name}}" class="seat {{dict.stype}}" onmouseover="seat_mouseover(id)" onmouseout="seat_mouseout(id)"> <div class="inner">{{dict.name}}</div></div>
		    {% else %}
		    	<div id="" class="seat_ {{dict.stype}}" onmouseover="seat_mouseover(id)" onmouseout="seat_mouseout(id)"> <div class="inner">&nbsp;</div></div>
		    {% endif  %}
		  {% endfor %}
		<div class="seat_title_right">{{row.name}}</div></li></center>
		{% endfor %}
		-->
		    	{% for row in rows %}
		    	<center><li style="list-style: none; margin-top: 5px;"><div class="seat_title">{{row.name}}</div>
		    	 {% for seat in row.seats %}
		    		
		    		{% if seat.ttype != "emp" %}
		  		<div uid="{{seat.uid}}" ttype="{{seat.ttype}}"  sid="{{seat.id}}" id="r{{ row.name }}s{{seat.seat}}" class="seat {{seat.ttype}}" onclick="choose_seat(id)"  onmouseover="seat_mouseover(id)" onmouseout="seat_mouseout(id)" sel="false"> <div class="inner">{{seat.seat}}</div></div>
		    {% else %}
		    	<div id="" class="seat_" style="visibility:invisible;" onmouseover="seat_mouseover(id)" onmouseout="seat_mouseout(id)"> <div class="inner">&nbsp;</div></div>
		    {% endif  %}
		    	 	<!--<div sid="{{seat.id}}" id="row{{ row.name }}seat{{seat.seat}}" class="seat {{seat.ttype}}" onclick="seat_clicked(id)"  onmouseover="seat_mouseover(id)" onmouseout="seat_mouseout(id)"> <div class="inner">{{seat.seat}}</div></div>-->
		    	 {% endfor%}
		    	 <div class="seat_title_right">{{row.name}}</div></li></center>
		    	{% endfor %}
    </div>
    
{% endblock %}
