{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}

{% block title %} <title>Session Page | ERP Rustaveli</title> {% endblock %}
{% block js_ %}

<script>
$(function(){
    if($("#text").html().length>0){
        var option = document.createElement("option");
        var text = document.createTextNode("{{created_prod.name}}");
        $(option).append(text);
        option.id = "{{created_prod.id}}";
        $(option).val("{{created_prod.id}}");
        $(option).attr("selected", "selected");
        window.opener.$("#products").append(option);
        window.close()
    }
});



</script>
<style>


    .main{
        min-height: 600px;
    }
    .ui-menu { width: 150px; font-size: 10pt;}


</style>
{% endblock %}

{% block header %}
  		<header>
			{% if user%}
	  		<button onclick="logout()" > Logout</button>
			{% endif %}

      		<nav>
      		</nav>
    	</header>
    	{% endblock %}

{% block main%}
<div  id="text">{{text}}</div>
{% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
<form method="POST" action="" enctype="multipart/form-data">
<table>
{{form.as_table}}

</table>
    {% csrf_token %}
    <input type="submit" value="submit">
</form>



{% endblock %}