{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}

{% block title %} <title>Session Page | ERP Rustaveli</title> {% endblock %}
{% block js_ %}

<script>
       $(function() {

});

    var json = '{{obj | safe}}';
    function get_children(object){
        var li = document.createElement("li");
        $(li).click(function(){
                    get_category_products($(this).attr("id"));
                });
        var text = document.createTextNode(object.name);
        li.id = object.pk;
        li.appendChild(text);
        if(object.children){
           var ch = object.children;
           for(x in ch){
                var ul = document.createElement("ul");
                ul.appendChild(get_children(ch[x]));
                li.appendChild(ul);
           }
        }
        return li;
    }

        $(document).ready(function(){
            var data = $.parseJSON(json);
            var header = document.createElement("li");
            header.id = "all";
            $(header).click(function(){
                    get_category_products($(this).attr("id"));
                });
            var text = document.createTextNode("All");
            header.appendChild(text);
            $("#menu").append(header);
            for(x in data){
                var li = get_children(data[x]);
                $("#menu").append(li);
            }
            $( "#menu" ).menu();
        });

        function get_category_products(cat_id){
            $.post("/bar/get_category_products/", {cat_id:cat_id}, function(data){
                alert(data);
            });
        }

</script>
<style>


    .main{
        min-height: 600px;
    }
    .ui-menu { width: 150px; font-size: 10pt;}


</style>
{% endblock %}

{% block header %}
  		<header>
			{% if user%}
	  		<button onclick="logout()" > Logout</button>
			{% endif %}

      		<nav>
      		</nav>
    	</header>
    	{% endblock %}

{% block main%}
<div class="main">
    <table>

    {%for category in categories %}
        {{category.name}}
    {% endfor %}
    </table>

<ul id="menu">

</ul>
</div>


{% endblock %}