{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}

{% block title %} <title>Session Page | ERP Rustaveli</title> {% endblock %}
{% block js %}
	<script src="/static/js/session.js"></script>
    <script src="/static/js/sortContent.js"></script>
	<script src="/static/js/jquery.js"></script>

 <script>
 var current_copied_session = 0;
 var copied = [];
var initial_sortable_array = {};
 var loaded_session = Array();
 var sessions = new Array();

 var Session =function(uid,hall,movie, prices, duration, m_name){
    this.uid = uid;
    this.hall= hall;
 	this.movie = movie;
 	this.duration= duration;
 	this.prices = prices;
 	this.m_name = m_name;
 }
$(function() {
	$( "#datepicker_from" ).datepicker();
	$( "#datepicker_to" ).datepicker();
	$( "#datepicker" ).datepicker();
});

function format_date(day,month,year){
    var day_ = day<10 ? "0"+day: day;
    var month_ = month<10 ? "0"+month: month;
    return day_+"-"+month_+"-"+year;
}

function format_date_for_django(day,month,year){
    var day_ = day<10 ? "0"+day: day;
    var month_ = month<10 ? "0"+month: month;
    return year+"-"+month_+"-"+day_;
}

function empty_copied(){
    for(x in copied){
        $("span[uid='"+copied[x].uid+"']").css("background-color", "pink");
    }
    copied = [];
}

function get_sessions_by_dates(hall_id, from, to){

}

        parser=function(content){
            content=content.split(':');

            return parseInt(content[0])
        };
        myhelper=function(e){
            return $('.hidden_time',$(e)).html();
        }


        function sort_sessions(){
            $(".sessions > div > ul").each(function(ui){
                if($(this).html()){
                    $(this).sortContent({asc:true,format:parser,helper:myhelper})
                }

            });
            return true;
        }

function session_already_copied(uid){
    for(x in copied){
        if(uid==copied[x].uid){
            return true;
        }
    }
    return false;
}
function splice_copied_session(uid){
    var index = -1;
    for(x in copied){
        if(uid==copied[x].uid){
            index = x;
        }
    }
    if (index!=-1){
        copied.splice(index,1);
    }
}

 var prevPagesOrder = [];

function swap_time(array){
    var r = confirm("Are you sure you want to change the time?");
    if (r == true) {

        $.post("/swapTimeBetweenSessions/",{array:JSON.stringify(array)},function(data){
            alert(data);
            load_data();
        });
    } else {
        "You have cancelled the time swap!";
        load_data();
    }
}

function load_month(){
    var dateFrom = new Date();
    var dateFromFormatted = dateFrom.toLocaleDateString();
    var dateTo = new Date();
    dateTo.setDate(dateTo.getDate() + 29);
    var dateToFormatted = dateTo.toLocaleDateString();
    $("#datepicker_from").val(dateFromFormatted);
    $("#datepicker_to").val(dateToFormatted);
}

function load_data(){
    if(!$("#datepicker_from").val() ||!$("#datepicker_to").val()){
            return
        }
        $(".sessions").html("");
        var from = $("#datepicker_from").val().split("/");
        var to = $("#datepicker_to").val().split("/");
        var d_from = new Date(from[2],from[0]-1, from[1]);
        var d_to = new Date(to[2],to[0]-1, to[1]);
        var days = parseInt(d_to-d_from)/(60*60*24*1000);
        var formatted_from =format_date_for_django(d_from.getDate(),parseInt(d_from.getMonth()+1),d_from.getUTCFullYear())
        var formatted_to = format_date_for_django(d_to.getDate(),parseInt(d_to.getMonth()+1),d_to.getUTCFullYear())
        $.post("/getSessionsByDates/", {hall_id:$("#hall option:selected").attr("hname"), from:formatted_from, to:formatted_to}, function(data){
            var loaded_session = $.parseJSON(data);
            for(var i=0; i<days;i++){
                var div = document.createElement("div");
                var day = new Date(d_from);
                var s_day = new Date(day.setDate(day.getDate()+i))
                //var text = document.createTextNode(format_date(s_day.getDate(),parseInt(s_day.getMonth()+1),parseInt(s_day.getUTCFullYear())));
                var text = document.createTextNode(s_day.toDateString());
                //div.id = s_day.toDateString();
                div.id = format_date(s_day.getDate(),parseInt(s_day.getMonth()+1),s_day.getFullYear());
                var ul = document.createElement("ul");
                ul.id = "sortable";
                $(ul).sortable({
                    start: function(event, ui) {
                        prevPagesOrder = [];
                         $("ul>li").each(function(){
                            if($(this).find("span").attr("uid")){
                                prevPagesOrder.push($(this).find("span").attr("uid"));
                            }
                        });
                    },
                    update: function(event, ui) {
                        var currentOrder = Array();
                        $("ul>li").each(function(){
                            if($(this).find("span").attr("uid")){
                                currentOrder.push($(this).find("span").attr("uid"));
                            }
                        });
                        var first = ui.item.find("span").attr("uid");
                        var div_id = $("span[uid='"+first+"']").parent().parent().parent().attr("id");
                        $("#"+div_id).find("ul").find("li").each(function(index){
                            $(this).find("span").each(function(ind){
                                if($(this).prop("class")=="visible"){
                                    var exs_html = $(this).html();
                                    var spl = exs_html.split("-");
                                    var time_spl = initial_sortable_array[div_id][index].split("/");
                                    $(this).html(spl[0]+ "  -  "+time_spl[2]);
                                }
                            });
                        });
                        var second = currentOrder[prevPagesOrder.indexOf(first)];
                        var swap_array = Array();
                        $("#"+div_id).find("ul").find("li").each(function(index){
                            $(this).find("span").each(function(){
                                if($(this).prop("class")=="visible"){
                                    if(initial_sortable_array[div_id][index]!=$(this).attr("uid")){
                                        swap_array.push(new Array( initial_sortable_array[div_id][index],$(this).attr("uid")));
                                    }
                                }
                            });
                        });

                    swap_time(swap_array);
                    }
                });
                $(div).dblclick(function(){
                    for (y in copied){
                        var li = document.createElement("li");
                        var span = document.createElement("span");
                        span.className = "visible";
                        var t = document.createElement("span");
                        t.className = "hidden_time";
                        var m_name = copied[y].m_name+"    "+copied[y].uid.split("/")[2];
                        var l_text = document.createTextNode(m_name);
                        var t_text = document.createTextNode(copied[y].uid.split("/")[2]);
                        li.appendChild(span);
                        t.appendChild(t_text);
                        t.style.visibility = "hidden";
                        li.appendChild(t);
                        var uid_spl = copied[y].uid.split("/");
                        var local_uid = uid_spl[0]+"/"+$(this).attr("id")+"/"+uid_spl[2];
                        $(span).attr("uid",local_uid);
                        $(span).attr("status","normal");
                        span.appendChild(l_text);
                        $("#"+$(this).attr("id")+" > ul").append($(li));
                        var date_split =  $(this).attr("id").split("-");
                        var day = parseInt(date_split[0]);
                        var month = parseInt(date_split[1]);
                        var year = parseInt(date_split[2]);
                        var hour = uid_spl[2].split(":")[0];
                        var minute = uid_spl[2].split(":")[1];
                        var hall = copied[y].hall;
                        var movie = copied[y].movie;
                        var movie_name = copied[y].m_name;
                        var duration = copied[y].duration;
                        var prices =  {eco:copied[y].prices.eco,std:copied[y].prices.std,sta:copied[y].prices.sta,vip:copied[y].prices.vip};
                        var session_language= copied[y].session_language;
                        var is_3d = copied[y].is_3d;
                        prices = JSON.stringify(prices);
                        $.post("/create_session/",{day:day, month:month, year:year, hour:hour, minute:minute,
                            hall_id:hall,
                            movie_id:movie,
                            m_name : movie_name,
                            duration:duration,
                            session_language:session_language,
                            is_3d : is_3d,
                            prices:prices},function(data){
                        });
                        $(li).click(function(event){
                            if(event.shiftKey){
                                var c = 0;
                                for(s in loaded_session){
                                    if(loaded_session[s].pk==$(this).find("span").attr("uid")){
                                        if($(this).find("span").attr("status")=="normal"){
                                            if(!session_already_copied($(this).find("span").attr("uid"))){
                                                $(this).find("span").attr("status", "copied");
                                                $(this).find("span").css("background-color", "grey");
                                                session = new Session();
                                                session.uid = loaded_session[s].pk;
                                                session.hall = loaded_session[s].fields.hall;
                                                session.movie = loaded_session[s].fields.movie;
                                                session.prices = loaded_session[s].fields.prices;
                                                session.duration = loaded_session[s].fields.duration;
                                                session.m_name = loaded_session[s].fields.emb_movie[0].fields.name;
                                                session.session_language = loaded_session[s].fields.session_language;
                                                session.is_3d = loaded_session[s].fields.is_3d;
                                                copied.push(session);
                                            }
                                        }else{
                                            $(this).find("span").attr("status", "normal");
                                            $(this).find("span").css("background-color", "pink");
                                            for(c in copied){
                                                if($(this).find("span").attr("uid")==copied[c].uid){
                                                    copied.splice(c,1);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        });
                    }
                    fill_initial_sortable_array();
                    load_data();
                });
                ul.className = "sortable";
                $(ul).disableSelection();
                div.className = "day_set";
                div.appendChild(text);
                div.appendChild(ul);
                if(loaded_session){
                    for (x in loaded_session){
                        var date_ = loaded_session[x].pk.split("/")[1];
                        if(date_==format_date(s_day.getDate(),parseInt(s_day.getMonth()+1),s_day.getFullYear())){
                            var li = document.createElement("li");
                            var span = document.createElement("span");
                            span.className = "visible";
                            var t = document.createElement("span");
                            t.className = "hidden_time";
                            var m_name = loaded_session[x].fields.emb_movie[0].fields.name+"  -  "+loaded_session[x].pk.split("/")[2];
                            if(loaded_session[x].fields.emb_movie[0].fields.name.length>1){
                                var ldd = loaded_session[x].fields;
                                var format = "2D";
                                if(ldd.is_3d){
                                    format = "3D";
                                }
                                m_name = loaded_session[x].fields.emb_movie[0].fields.name.substr(0,9)+" " + ": "+ ldd.session_language.substr(0,3) + " "+ldd.prices.std.substr(0,2) + " "+ldd.prices.sta.substr(0,2) + " "+ format + " - " +loaded_session[x].pk.split("/")[2];
                            }
                            var l_text = document.createTextNode(m_name);
                            var t_text = document.createTextNode(loaded_session[x].pk.split("/")[2]);
                            li.appendChild(span);

                            t.appendChild(t_text);
                            t.style.visibility = "hidden";
                            li.appendChild(t);
                            $(span).attr("uid",loaded_session[x].pk);
                            if(session_already_copied(loaded_session[x].pk)){
                                $(span).attr("status", "copied");
                                $(span).css("background-color","grey");
                            }
                            $(span).attr("status","normal");
                            span.appendChild(l_text);
                            ul.appendChild(li);
                            $(li).click(function(event){
                                if(event.shiftKey){
                                    var c = 0;
                                    for(s in loaded_session){
                                        if(loaded_session[s].pk==$(this).find("span").attr("uid")){
                                            if($(this).find("span").attr("status")=="normal"){
                                                if(!session_already_copied($(this).find("span").attr("uid"))){
                                                    $(this).find("span").attr("status", "copied");
                                                    $(this).find("span").css("background-color", "grey");
                                                    session = new Session();
                                                    session.uid = loaded_session[s].pk;
                                                    session.hall = loaded_session[s].fields.hall;
                                                    session.movie = loaded_session[s].fields.movie;
                                                    session.prices = loaded_session[s].fields.prices;
                                                    session.duration = loaded_session[s].fields.duration;
                                                    session.session_language = loaded_session[s].fields.session_language;
                                                    session.is_3d = loaded_session[s].fields.is_3d;
                                                    session.m_name = loaded_session[s].fields.emb_movie[0].fields.name;
                                                    copied.push(session);
                                                }
                                            }else{
                                                $(this).find("span").attr("status", "normal");
                                                $(this).find("span").css("background-color", "pink");
                                                for(c in copied){
                                                    if($(this).find("span").attr("uid")==copied[c].uid){
                                                        copied.splice(c,1);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            });
                        }
                    }
                }
                $(".sessions").append(div);
            }

            if(sort_sessions()){

                fill_initial_sortable_array();
            }

         });
}


function fill_initial_sortable_array(){
    initial_sortable_array = {};
    $(".sortable").each(function(){
        var ul_date = $(this).parent().attr("id");
        var ar = new Array();

        $(this).find("li").each(function(){
            ar.push($(this).find("span").attr("uid"));

        });

        if(ar.length){
            initial_sortable_array[ul_date] = ar;
        }

    });
}

function submit_form(){
	var date_st = $("#datepicker").val();
	var arr = date_st.split("/");
	var day =  arr[1];
	var month = arr[0];
	var year = arr[2];
	var hour = $("#hour").val();
	var minute = $("#minute").val();
	var movie = $("#movie_").val();
	var movie_name = $("#movie_ option:selected").html().trim();
	var hall = $("#hall_").val();
	var hall_name = $("#hall_ option:selected").attr("hname");
	var uid = hall_name+"/"+day+"-"+month+"-"+year+"/"+hour+":"+minute;
	var duration = $("#duration").val();
	var prices =  {eco:$("#eco_value").val(),std:$("#std_value").val(),sta:$("#sta_value").val(),vip:$("#vip_value").val()};
	var movie_dict = {"name": movie_name, "id":movie}
	var hall_dict  = {"name": hall_name, "id": hall}
    var session_language = $("#language").val();
    var a = document.getElementById('3dcheckbox')
    var is_3d = a.checked;
	
	var sess = new Session(uid, hall_dict, movie_dict, prices, duration);

	prices = JSON.stringify(prices);

	$.post("/create_session/", {day:day, month:month, year:year, hour:hour, minute:minute,
								hall_id:hall,
		                      movie_id:movie,
		                      m_name : movie_name,
		                      duration:duration,
                              session_language: session_language,
                              is_3d:is_3d,
                            prices:prices}, function(data){
        load_data();
		alert(data);

	});
}

function create_movie(){
    var m_name = $("#m_name").val();
    var country = $("#m_country").val();
    var duration = $("#m_duration").val();
    var poster_url = $("#m_poster_url").val();
    $.post("/createMovie/", {m_name:m_name, country:country, duration:duration, poster_url:poster_url}, function(data){
        alert(data);
        location.reload();
    });
}

function update_session(){
    var date_st = $("#datepicker").val();
	var arr = date_st.split("/");
	var day =  arr[1];
	var month = arr[0];
	var year = arr[2];
	var hour = $("#hour").val();
	var minute = $("#minute").val();
	var movie = $("#movie_").val();
	var movie_name = $("#movie_ option:selected").html().trim();
	var hall = $("#hall_").val();
	var hall_name = $("#hall_ option:selected").attr("hname");
	var uid = hall_name+"/"+day+"-"+month+"-"+year+"/"+hour+":"+minute;
	var duration = $("#duration").val();
    var session_language = $("#language").val();
    var a = document.getElementById('3dcheckbox')
    var is_3d = a.checked;
	var prices =  {eco:$("#eco_value").val(),std:$("#std_value").val(),sta:$("#sta_value").val(),vip:$("#vip_value").val()};
	prices = JSON.stringify(prices);
    $.post("/updateSession/", {uid:uid,day:day, month:month, year:year, hour:hour, minute:minute,
								hall_id:hall,hall_name:hall_name,
		                      movie_id:movie,
		                      m_name : movie_name,
		                      duration:duration,
                              session_language:session_language,
                              is_3d:is_3d,
                            prices:prices}, function(data){

		var res = $.parseJSON(data);
		alert("session "+ res["session"]+" : "+ res["status"])
		splice_copied_session(res["session"]);
        load_data();
	});
}
function delete_selected(){
    var session_ids = [];
    for(x in copied){
        session_ids.push(copied[x].uid);
    }
    var r = confirm("Are you sure you want to deleted selected sessions?");
    if(r==true){
        $.post("/deleteSessions/",{session_ids: JSON.stringify(session_ids)}, function(data){
        var res = $.parseJSON(data);
        var str = "";
        for(x in res){
            str = str + res[x].session + " : "+res[x].status + "\n";
        }
        copied = [];
        load_data();
        });
    }else{

    }
}

function load_next_session_for_editing(){

    if(current_copied_session==-1||copied.length==1)return;
        current_copied_session++;
    if(current_copied_session>(copied.length-1)){
        current_copied_session=0;
    }
    edit_selected(copied[current_copied_session]);
}
function load_prev_session_for_editing(){
    if(current_copied_session==-1||copied.length==1)return;
        current_copied_session--;
    if(current_copied_session<0){
        current_copied_session=copied.length-1;
    }
    edit_selected(copied[current_copied_session]);
}

function edit_selected(obj){
    if(!copied.length){alert("Sessions not selected!");return;}

    $("#update_session").css("display", "block");
    $("#create_session").css("display", "none");


     var arr = obj.uid.split("/");
     $("#hall_").val(arr[0]);

     //show hidden box
     $(".outer").css("visibility", "visible");
     //fill hall select option
     $("#hall_ option").each(function(ui){
        if($(this).attr("hname")==arr[0]){
            $(this).prop("selected", true);
        }else{
            $(this).prop("selected", false);
        }
     });
     //fill movie select option
     $("#movie_ option").each(function(ui){
        if($(this).attr("m_name")==obj.m_name){
           $(this).prop("selected", true);
        }else{
            $(this).prop("selected", false);
        }
     });

     //fill language option
     $("#language").val(obj.session_language);
     
    if(obj.is_3d==true){
        document.getElementById("3dcheckbox").checked = true;
    }else{
        document.getElementById("3dcheckbox").checked = false;
    }
    


     //fill date and time
     $("#datepicker").val(arr[1].split("-")[1]+"/"+arr[1].split("-")[0]+"/"+arr[1].split("-")[2]);
     var time = arr[2].split(":");
     $("#hour").val(time[0]);
     $("#minute").val(time[1]);
     //fill duration
     $("#duration").val(obj.duration);
     $("#eco_value").val(obj.prices.eco);
     $("#std_value").val(obj.prices.std);
     $("#sta_value").val(obj.prices.sta);
     $("#vip_value").val(obj.prices.vip);

     }


function changeMovieFunc() 
{

    var selectedValue = movie_.options[movie_.selectedIndex].getAttribute("m_duration");
    $("#duration").val(selectedValue);
    //alert(selectedValue);
}

</script>
	 
{% endblock %}
{% block css %}
	<link type="text/css" rel="stylesheet" href="/static/css/styles.css">
	<link type="text/css" rel="stylesheet" href="/static/css/session.css">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	 <style>
    #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
    #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
    #sortable li span { position: absolute; margin-left: -1.3em; }
</style>
<script>

    var vertical_menu = false;
    $(function() {


    });

    function hide_button(){
        if(vertical_menu==false){
            $(".vertical-menu").animate({left:0},500,function(){vertical_menu=true;});
        }else{
            $(".vertical-menu").animate({left:-220},500,function(){vertical_menu=false;});
        }
    }
    function show_outer(){
        changeMovieFunc();
        $("#update_session").css("display", "none");
        $("#create_session").css("display", "block");

            $(".outer").css("visibility", "visible");
        }
    function hide_outer(){
        $(".outer").css("visibility", "hidden");
    }
</script>
{% endblock %}



{% block main%}

	{% if error %}
		<div style="color: red;">{{error}}</div>
	{% endif%} 
	
<style>
    span, div,li, ul, option, select{
    font-family: century gothic;
        font-size: 11pt;
    }
    input{
    font-family: century gothic;
        font-size: 11pt;
    }

    .inner input{
        width: 250px;
        height: 20px;
        font-family: century gothic;
        font-size: 11pt;
        padding:3px;
    }
    select{
        margin:5px;
    }
    .sessions{
        width: 100%;
        min-height: 700px;
        margin-top: 5px;

        background-color: grey;
        //#e7f17b;
    }
    .day_set{
        width: 222px;
        height:222px;
        background-color: #ffffff;
        margin:10px;
        display:inline-block;
        padding: 5px;
    }
    #sortable > li> span{
        border-radius: 3px;
        font-size: 10pt;
        background-color: #de1bd7;//pink;
        padding:3px;
        cursor:pointer;
    }
    #sortable > li{
        height: 15px;
        padding-left:15px;
        cursor:pointer;
        color:white;
    }
    .sess{
        width:140px;
        height: 25px;
        background-color: #555;
        margin: 5px;
    }
    .outer{
        background-color: rgba(0,0,0,.9);
        visibility:hidden;
        position: fixed;
        width:100%;
        height: 900px;
        left:0px;
        top:0px;
        z-index: 100000;
    }
    .inner{
    position:relative;
        padding:10px;
        width: 500px;
        height: 400px;
        margin: 150px auto ;
        z-index: 100000;
        border: solid 1px white;
        border-radius: 7px;
    }
    .outer_m{
        background-color: rgba(0,0,0,.9);
        visibility:hidden;
        position: fixed;
        width:100%;
        height: 900px;
        left:0px;
        top:0px;
        z-index: 100000;
    }
    .inner_m{
        padding:10px;
        width: 300px;
        height: 300px;
        margin: 150px auto ;
        z-index: 100000;
        border: solid 1px white;
        border-radius: 7px;
    }
    .inner_m input{
        width: 250px;
        height: 20px;
        font-family: century gothic;
        font-size: 11pt;
        padding:3px;
    }
    #create_movie, #create_session, #update_session{
    border: 0px solid white;
    background-color: #de1bd7;//#43d48a;
    width: 260px;
    height: 35px;
    padding:3px;
    font-family: century gothic;
        font-size: 11pt;
        padding:3px;
    }
    .vertical-menu{
        padding:10px;
        height: 700px;
        width: 200px;
        background-color: rgba(0,0,0,.8);
        position:fixed;
        left: -220px;
        top: 0px;
    }

    .prev-button{
        position:absolute;
    left: -50px;
    top: 200px;
    width: 35px;
    height:35px;
    background-image: url(/static/images/prev.png);
    background-size: 35px 35px;
    banckground-position: 0px 0px;
    background-repeat: no-repeat;
    cursor:pointer;

    }

    .next-button{
        position:absolute;
    right: -50px;
    top: 200px;
    width: 35px;
    height:35px;
    background-image: url(/static/images/next.png);
    background-size: 35px 35px;
    banckground-position: 0px 0px;
    background-repeat: no-repeat;
    cursor:pointer;

    }
    .close-button{
    margin-top: 58px;
    float:right;
    width: 35px;
    height:35px;
    background-image: url(/static/images/close.png);
    background-size: 35px 35px;
    banckground-position: 0px 0px;
    background-repeat: no-repeat;
    cursor:pointer;
    margin-right: -50px;
    margin-top: -50px;
    }
    .vertical-menu > div.button{
        width: 90px;
        height: 30px;
        background-color: white;
        cursor: pointer;
        font-size:8pt;
        padding:7px;
        font-family: century gothic;
        font-size: 9pt;
        margin-top: 5px;
        color:white;
        background-color: #de1bd7;//#43d48a;
    }
     .hide-button{
    margin-top: 58px;
    float:right;
    width: 15px;
    height:30px;
    background-image: url(/static/images/hide.png);
    background-size: 15px 30px;
    banckground-position: 0px 0px;
    background-repeat: no-repeat;
    cursor:pointer;
    margin-right: -25px;
    }
    h5, h4, h3, h2, h1{
    color: white;
    font-family:century gothic;}


    label, td{
    color: white;}
    </style>
    <input type="button" onclick="load_month()" value="ერთი თვე">
     <input type="text" id="datepicker_from" placeholder="Date from:">
	<input type="text" id="datepicker_to" placeholder="Date to:">

				<select id="hall">
				{% for hall in halls %}
				<option value="{{hall.id}}" hname="{{hall.name}}"> {{hall.title}}</option>
				{% endfor %}
				</select>
                <input type="button" onclick="load_data()" value="ჩატვირთვა">
    <div class="outer" >
        <div class="inner">
            <div class="close-button" onclick="hide_outer()"></div>
            <div class="prev-button" onclick='load_prev_session_for_editing()'></div>
            <div class="next-button" onclick='load_next_session_for_editing()'></div>
            <div class="sess_form">
            {% csrf_token %}
                <label>Movie</label><select id="movie_" onchange="changeMovieFunc();">
    			{% for movie in movies %}
					<option value="{{movie.id}}" m_name="{{movie.name}}"  m_duration="{{movie.duration}}" > {{movie.name}}</option>
				{% endfor %}
				</select>
                <select id="hall_">
				{% for hall in halls %}
				<option value="{{hall.id}}" hname="{{hall.name}}"> {{hall.title}}</option>
				{% endfor %}
				</select>


                <p>
                    <input type="text" id="datepicker" placeholder="Date:">
                    <label>Time:</label><select id="hour">
                        <option value="09"> 09</option>
                        <option value="10"> 10</option>
                        <option value="11"> 11</option>
                        <option value="12"> 12</option>
                        <option value="13"> 13</option>
                        <option value="14"> 14</option>
                        <option value="15"> 15</option>
                        <option value="16"> 16</option>
                        <option value="17"> 17</option>
                        <option value="18"> 18</option>
                        <option value="19"> 19</option>
                        <option value="20"> 20</option>
                        <option value="21"> 21</option>
                        <option value="22"> 22</option>
                        <option value="23"> 23</option>
                        <option value="00"> 00</option>
                    </select>

	                <select id="minute">
                        <option value="00"> 00</option>
                        <option value="05"> 05</option>
                        <option value="10"> 10</option>
                        <option value="15"> 15</option>
                        <option value="20"> 20</option>
                        <option value="25"> 25</option>
                        <option value="30"> 30</option>
                        <option value="35"> 35</option>
                        <option value="40"> 40</option>
                        <option value="45"> 45</option>
                        <option value="50"> 50</option>
                        <option value="55"> 55</option>
	                </select>
                </p>

                
                    <label>Language:</label>
                    <select id="language">
                        <option value="rus" n_language="rus"> რუსული</option>
                        <option value="geo" n_language="geo"> ქართული</option>
                        <option value="eng" n_language="eng"> ინგლისური</option>
                        <option value="nlg" n_language="nlg"> ენის გარეშე</option>
                    </select>

                
                   &nbsp;&nbsp;&nbsp;&nbsp; <label>3D</label>
                    &nbsp;&nbsp;&nbsp; <input type="checkbox" id="3dcheckbox">

                
            


                <p>
	                <input type="text" id="duration" placeholder="Duration"/>
                </p>
                <h3>PRICES</h3>
	            <table>
	                <tr>
		                <td><input type="text" id="eco_value" placeholder="Economy"/></td>
	                </tr>
                    <tr>
		                <td><input type="text" id="std_value" placeholder="Standard"/></td>
	                </tr>
	                <tr>
		                <td><input type="text" id="sta_value" placeholder="Status"/></td>
	                </tr>
	                <tr>
		                <td><input type="text" id="vip_value" placeholder="VIP"/></td>
	                </tr>
	            </table>

	            <p>
            	    <input type="button"  onclick="submit_form()" value="Create Session" id="create_session"/>
                    <input type="button"  onclick="update_session()" value="Update Session" id="update_session"/>
	            </p>
            </div>
        </div>
    </div>
    <div class="outer_m">
        <div class="inner_m">
            <div class="close-button" onclick='$(".outer_m").css("visibility", "hidden")'></div>

            <p>
                <input type="text" placeholder="Movie Name" id="m_name"/>
            </p>
            <p>
                <input type="text" placeholder="Country" id="m_country"/>
            </p>
            <p>
                <input type="text" placeholder="Duration" id="m_duration"/>
            </p>
            <p>
                <input type="text" placeholder="Poster URL" id="m_poster_url"/>
            </p>
            <p>
                <input type="button" value="Create" onclick="create_movie()" id="create_movie"/>
            </p>
        </div>
    </div>

    <div class='sessions'>

    </div>
    <div class="vertical-menu">
        <div class="hide-button" onclick="hide_button()"></div>
        <div class="button" onclick="show_outer()">Create Session</div>
        <div class="button" onclick='$(".outer_m").css("visibility", "visible")' >Create Movie</div>
        <div class="button" onclick='edit_selected(copied[0])' >Edit Selected</div>
        <div class="button" onclick='delete_selected()' >Delete Selected</div>
    </div>
    
{% endblock %}
