{% for ticket in tickets%}
<table border="0" width="500px" style="font-size:10pt;">
            <tr>
                <td> {{ticket.cinemaName}} </td>

                <td width="90"  rowspan="6" align="center">
                    <img src="cid:{{ticket.qrCodePath}}" alt="" border="0" width="85"  />
                    <img src="cid:{{ticket.cinemaLogo}}" alt="" border="0" width="85"  />
                </td>
            </tr>
            <tr>
                <td align="center"><span style="font-size:12pt"> {{ticket.film}}  </span> </td>
            </tr>
            <tr>
                <td align="center"> {{ticket.encodedauditorium}} - რიგი: {{ticket.row}}  ადგ: {{ticket.seat}} </td>
            </tr>
             <tr>
                <td align="center">ფასი: {{ticket.price}} ლარი </td>
            </tr>
            <tr>
                <td align="center"> {{ticket.discountStr}} </td>
            </tr>
             <tr>
                <td><span style="font-size:7pt"> {{ticket.date}} </span>  </td>
            </tr>
            </table>
{% endfor%}

