{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}

{% block title %} <title>Session Page | ERP Rustaveli</title> {% endblock %}
{% block js %}

	<script src="/static/js/session.js"></script>
	<script src="/static/js/jquery.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

	<script>
        var left_counter, top_counter;
        var hall_name = "";
        var drag_flag = false;
        var selected = Array();
        var colors = {"std": "grey", "eco":"green", "sta":"orange", "vip":"blue"};




        $(function(){
            $(document).keypress(function(event){
                if(selected.length>0){
                    if(event.shiftKey){
                        if(event.keyCode==37){
                            for(x in selected){
                                $("#"+selected[x]).offset({left: $("#"+selected[x]).offset().left-1,top: $("#"+selected[x]).offset().top});
                            }
                        }
                        if(event.keyCode==39){
                            for(x in selected){
                                $("#"+selected[x]).offset({left: $("#"+selected[x]).offset().left+1,top: $("#"+selected[x]).offset().top});
                            }
                        }
                        if(event.keyCode==38){
                            for(x in selected){
                                $("#"+selected[x]).offset({left: $("#"+selected[x]).offset().left,top: $("#"+selected[x]).offset().top-1});
                            }
                        }
                        if(event.keyCode==40){
                            for(x in selected){
                                $("#"+selected[x]).offset({left: $("#"+selected[x]).offset().left,top: $("#"+selected[x]).offset().top+1});
                            }
                        }


                    }else{
                        if(selected.length==1){
                            if(event.which==118){
                                var s = $("#"+selected[0]).attr("seat");
                                selected = [];
                                $(".parent > div").each(function(index){
                                    if($(this).attr("seat")==s){
                                        selected.push($(this).attr("id"));
                                        $(this).css("background-color", "yellow");
                                    }
                                });
                            }
                            if(event.which==104){
                                var r = $("#"+selected[0]).attr("row");
                                selected = [];
                                $(".parent > div").each(function(index){
                                    if($(this).attr("row")==r){
                                        selected.push($(this).attr("id"));
                                        $(this).css("background-color", "yellow");
                                    }
                                });
                            }

                        }
                    }
                }
            });
        });
        function get_data_from_seats(){
            $(".ui-draggable").each(function(index){
                alert($(this).prop("id"));
            });
        }
        function remove_selected(){
            $.post("/removeSeats/", {list:JSON.stringify(selected)},function(){
                alert("deleted");
            });
            for (x in selected){
                $("#"+selected[x]).remove();
            }
            clear_selected();
        }
        function clear_selected(){
            selected = [];
            $(".parent > div").each(function(){
                $(this).css("background-color", colors[$(this).attr("ttype")]);
            });
        }

        function rename_selected(){
            if(selected.length==1){
                var id = hall_name + prompt("set the new name!", "example: r1_s1")
                $("#"+selected[0]).prop("id", id);
                clear_selected();
            }
        }



        function change_class_selected(){
            var class_name = prompt("Please enter new class name", $("#"+selected[0]).attr("class").split(" ")[0]);
            for (x in selected){

                    if (class_name != null) {
                        $("#"+selected[x]).attr("class", class_name);
                        $("#"+selected[x]).attr("ttype", class_name);
                    }
                }
                clear_selected();
            }
        function add_rows_init(){
            var number_of_rows = 9;
            var number_of_cols = 12;
            var width = 7;
            var height = 7;
            var left_offset = 1;
            var top_offset = 1;
            for(var i = 0;i<number_of_rows; i++){
                for(var j = 0; j<number_of_cols; j++){
                    var div = document.createElement("div");
                    div.id = "rus3"+"_r"+parseInt(number_of_rows-i)+"_s"+parseInt(j+1);
                    $(div).css("position", "absolute");
                    $(div).css("left", left_offset+j*width+(left_offset*j)+"%");
                    $(div).css("top", top_offset+i*width+(top_offset*i)+"%");
                    $(div).css("background-color", "blue");
                    $(div).css("width", width+"%");
                    $(div).css("height", height+"%");
                    $(div).click(function(){
                        selected = Array();
                        selected.push($(this).prop("id"));
                        if(!drag_flag){
                            $(".outer").css("visibility", "visible");
                        }

                    });
                    $(div).mouseup(function(){

                        if(drag_flag){
                            drag_flag = false;
                        }

                    });
                    $(div).draggable(
                        {stop:function(event,ui){

                            drag_flag = true;

                         }
                    });
                    $(".parent").append(div);
                }
            }
        }

        $(document).ready(function(){
            $(".outer_").css("visibility", "visible");


        });

        function set_hall_name(){
            hall_name = $("#hall").val();
            $(".outer_").css("visibility", "hidden");
            load_seats_from_db()
        }

        function add_seat_(row, seat, class_name){
            var width = get_the_width_of_existing_seat();
            var height = get_the_width_of_existing_seat();
            var name_ = name;
            var class_name_ = class_name;
            var div = document.createElement("div");
            div.id = hall_name.replace("_","")+"_r"+row+"_s"+parseInt(seat);
            $(div).attr("ttype", class_name_)
            $(div).attr("row", row);
            $(div).attr("seat", seat);
            div.style.fontSize = width+"pt";
            var text = document.createTextNode("r"+row+"_s"+seat);
            div.appendChild(text);
            $(div).css("position", "absolute");
            $(div).css("right", "1%");
            $(div).css("bottom",  "1%");
            $(div).attr("class", class_name_)
            $(div).css("width", width);
            $(div).css("height", height);
            $(div).click(function(){
                selected = Array();
                selected.push($(this).prop("id"));
                if(!drag_flag){
                    $(".outer").css("visibility", "visible");
                }
            });
            $(div).mouseup(function(){
                if(drag_flag){
                    drag_flag = false;
                }
            });
            $(div).draggable(
                {stop:function(event,ui){
                    align_seats($(this).attr("row"),$(this).attr("seat"));
                    drag_flag = true;
                    console.log(ui.position.top);
                }
            });
            $(".parent").append(div);
        }

        function get_array_mode(array){

            c = {}, // counters
            s = []; // sortable array

            for (var i=0; i<array.length; i++) {
                c[array[i]] = c[array[i]] || 0; // initialize
                c[array[i]]++;
            } // count occurrences

            for (var key in c) {
                s.push([key, c[key]])
            } // build sortable array from counters

            s.sort(function(a, b) {return b[1]-a[1];});

            var firstMode = s[0][0];
            return firstMode;
        }

        function align_selected_vertically(){
            for(x in selected){
                var top = align_seats_vertically($("#"+selected[x]).attr("row"));
                $("#"+selected[x]).offset({top: top, left:$("#"+selected[x]).offset().left});
            }

        }

        function align_selected_horizontally(){
            for(x in selected){
                var left = align_seats_horizontally($("#"+selected[x]).attr("seat"));
                $("#"+selected[x]).offset({top:$("#"+selected[x]).offset().top, left: left});
            }

        }


        function align_seats_vertically(row){
            var array = [];

            $(".parent > div").each(function(index){
                if($(this).attr("row")==row){
                    array.push($(this).offset().top);
                }
            });
            return [get_array_mode(array)];
        }


        function align_seats_horizontally(seat){
            var array = [];

            $(".parent > div").each(function(index){
                if($(this).attr("seat")==seat){
                    array.push($(this).offset().left);
                }
            });
            return [get_array_mode(array)];
        }


        function parse_seats_from_json(data){
                var data_ = $.parseJSON(data);
                for(x in data_){
                    var div = document.createElement("div");
                    div.id = data_[x].pk;
                    div.style.fontSize = "7pt";
                    $(div).attr("ttype", data_[x].fields.ttype);
                    $(div).attr("row", data_[x].fields.row);
                    $(div).attr("seat", data_[x].fields.seat);
                    var text = document.createTextNode(data_[x].fields.name);
                    div.appendChild(text);
                    $(div).css("position", "absolute");
                    $(div).css("left", data_[x].fields.left+"%");
                    $(div).css("top",  data_[x].fields.top+"%");



                    $(div).attr("class", data_[x].fields.ttype)
                    $(div).css("width", data_[x].fields.width+"%");
                    $(div).css("height", data_[x].fields.width+"%");
                    $(div).click(function(event){
                        if(!event.shiftKey){


                            if(!drag_flag){
                                $(".outer").css("visibility", "visible");
                            }
                        }else{
                            var index = selected.indexOf($(this).attr("id"));
                            if(index!=-1){
                                selected.splice(index,1);
                                $(this).css("background-color", colors[$(this).attr("ttype")]);
                            }else{
                                $(this).css("background-color", "yellow");
                                selected.push($(this).prop("id"));
                            }

                        }

                    });
                    $(div).mouseup(function(){

                        if(drag_flag){
                            drag_flag = false;
                        }

                    });

                    $(div).draggable(
                        {stop:function(event,ui){



                            drag_flag = true;
                            console.log(ui.position.top);
                         }
                    });
                    $(".parent").append(div);
                }


        }

        function add_rows_(rows, seats, top_base, num, class_name){
            var number_of_rows = rows;
            var number_of_cols = seats;
            var left_offset = .3;
            var top_offset = .3;
            var width = (100-(seats*left_offset)-1)/seats;
            var height = width;
            var left_base = left_base;
            var t_base = top_base;



            for(var i = 0;i<1; i++){
                for(var j = 0; j<number_of_cols; j++){
                    var div = document.createElement("div");
                    div.id = hall_name.replace("_","")+"_r"+num+"_s"+parseInt(j+1);
                    div.style.fontSize = width+"pt";
                    $(div).attr("ttype", class_name);
                    $(div).attr("row", num);
                    $(div).attr("seat", j+1);
                    var text = document.createTextNode("r"+num+"_s"+parseInt(j+1));
                    div.appendChild(text);
                    $(div).css("position", "absolute");
                    $(div).css("left", left_offset+j*width+(left_offset*j)+"%");
                    $(div).css("top",  parseFloat(t_base/700*100)+top_offset+i*width+(top_offset*i)+"%");

                    if(t_base<0){
                        $(div).css("top",  "1%");
                    }

                    $(div).attr("class", class_name)
                    $(div).css("width", width+"%");
                    $(div).css("height", height+"%");
                    $(div).click(function(event){
                        if(!event.shiftKey){
                            selected = Array();
                            selected.push($(this).prop("id"));
                            if(!drag_flag){
                                $(".outer").css("visibility", "visible");
                            }
                        }else{
                            var index = selected.indexOf($(this).attr("id"));
                            if(index!=-1){
                                selected.splice(index,1);
                                $(this).css("background-color", colors[$(this).attr("ttype")]);
                            }else{
                                $(this).css("background-color", "yellow");
                                selected.push($(this).prop("id"));
                            }

                        }
                    });
                    $(div).mouseup(function(){

                        if(drag_flag){
                            drag_flag = false;
                        }

                    });

                    $(div).draggable(
                        {stop:function(event,ui){
                            drag_flag = true;
                            console.log(ui.position.top);
                         }
                    });
                    $(".parent").append(div);
                }
            }
        }

        function hide_outer(){
            $(".outer").css("visibility", "hidden");
            selected=[];
        }
        function get_the_lowest_draggable_param(){
            var left = Array();
            var top = Array();
            $(".ui-draggable").each(function(index){
                top.push($(this)[0].offsetTop+$(this).width());
            });
            if(top.length!=0){
                return Math.max.apply(Math, top);
            }else{
                return 0;
                }

        }
        function get_the_width_of_existing_seat(){
            var width = 0;
            $(".ui-draggable").each(function(index){
                width = $(this).css("width");
                return;
            });
            return width;
        }

        function add_row(){
            var number_of_row = prompt("What is the row number?", "");
            var class_name = prompt("What is the class of the row?", "std");

            var num_of_seats = prompt("How many seats do you want in one row?", 10);

            add_rows_(1,num_of_seats, get_the_lowest_draggable_param(), number_of_row, class_name);

        }

        function load_seats_from_db(){
            $.post("/loadSeats/", {hall:hall_name}, function(data){
                parse_seats_from_json(data);
            });
        }

        function add_seat(){
            var row = prompt("What is the row of the seat", " ");
            var seat = prompt("What is the row of the seat", " ");
            var class_name = prompt("What is the class of the seat?", "std");


            add_seat_(row, seat, class_name);

        }

        function post_(list){
            $.post("/createSeats/", {list:list}, function(data){
                alert(data);
            });
        }

        function save_seats(){
            list = [];
            var l = create_list_of_seats_locally();
            post_(JSON.stringify(l));
        }


        function create_list_of_seats_locally(){
        $(".parent > div").each(function(){
            if($(this).css("left")){
                var left_str = $(this).css("left").replace("px","");
                var left = parseFloat(parseFloat(left_str)/7);

                var top_str = $(this).css("top").replace("px","");
                var top = parseFloat(parseFloat(top_str)/7);

                var ttype = $(this).attr("ttype");
                var row = $(this).attr("row");
                var width = parseInt($(this).width()/7);
                var seat = $(this).attr("seat");
                var id = $(this).prop("id");
                var name = $(this).prop("id").substr(5,30).replace("_","");
                obj = new hall(left, top,  width,ttype, row, seat, id, name);
                list.push(obj);


            }
        });
        return list
        }

        var list = new Array();
        var hall = function(left, top,  width, ttype, row, seat, uid, name){
        this.width = width;
        this.row = row;
        this.seat = seat;
        this.uid = uid;
        this.name = name;
        this.hall_name = hall_name;
        this.ttype = ttype;
        this.left = left;
        this.top = top;
        }

        function edit_selected(){
            $(".outer").css("visibility", "visible");
        }



    </script>



{% endblock %}
{% block css %}
<style>
    .parent{
        width:700px;
        height:700px;
        border:solid 1px black;
    position: relative;
    }
    .parent > div{
        display: inline-block;
    }
    .outer{
    visibility: hidden;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0,0,0,.9);
    width: 100%;
    height:100%;
    z-index: 100;
    }
    .outer_{
    visibility: hidden;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0,0,0,.9);
    width: 100%;
    height:100%;
    z-index: 100;
    }
    .inner{
        width: 500px;
        height: 300px;
        margin: 140px auto ;
        z-index: 101;
        background-color: white;
    position:relative;
    }
    .rename{
    width: 120px;
    height: 60px;
    position: absolute;
    left: 20px;
    top: 50px;
    }
    .remove{
    width: 120px;
    height: 60px;
    position: absolute;
    left: 150px;
    top: 50px;
    }
    .ch_class{
    width: 120px;
    height: 60px;
    position: absolute;
    left: 280px;
    top: 50px;
    }
    .add_row{
    position:absolute;
    left: 800px;
    top: 100px;}

    .add_seat{
    position:absolute;
    left: 800px;
    top: 150px;}

    .save_seats{
    position:absolute;
    left: 800px;
    top: 200px;}

    .edit_selected{
    position:absolute;
    left: 800px;
    top: 250px;}

    .clear_selected{
    position:absolute;
    left: 800px;
    top: 300px;}
    .std{
    background-color: grey;}
    .eco{
    background-color: green;}
    .sta{
    background-color: orange;}
    .vip{
    background-color: blue;}
</style>
{% endblock %}

{% block header %}
  		<header>
			{% if user%}
	  		<button onclick="logout()" > Logout</button>
			{% endif %}

      		<nav>
      		</nav>
    	</header>
    	{% endblock %}

{% block main%}
<div class="main">
	{% if error %}
		<div style="color: red;">{{error}}</div>
	{% endif%}

    <div class="outer" onclick="hide_outer()">

            <input type="button" value="Remove" class="remove" onclick="remove_selected()">
            <input type="button" value="Rename" class="rename" onclick="rename_selected()">
            <input type="button" value="Change Class" class="ch_class" onclick="change_class_selected()">
        </div>
    </div>

    <div class="outer_"  ">
         <div class="inner">
        <select id="hall" style="margin-left:140px; margin-top: 120px;">
        {% for hall in halls %}

            <option value="{{hall.name}}">{{hall.title}}</option>

        {% endfor %}
            </select>
        <input type="button" onclick="set_hall_name()" value="Select">
             </div>
    </div>

<div class="parent" >
</div>
<input type="button" onclick="add_row()" value="Add Row" class="add_row"/>
<input type="button" onclick="add_seat()" value="Add Seat" class="add_seat"/>
<input type="button" onclick="save_seats()" value="Save Seats" class="save_seats"/>
<input type="button" onclick="edit_selected()" value="Edit Selected" class="edit_selected"/>
<input type="button" onclick="clear_selected()" value="Clear Selected()" class="clear_selected"/>
<input type="text" onkeypress="pressed(event)" />

{% endblock %}