{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}

{% block title %} <title>Session Page | ERP Rustaveli</title> {% endblock %}
{% block js_ %}

<script>
function popitup(url) {
	newwindow=window.open("/admin/bar/product/"+url+"/",'name','height=800,width=800');
	if (window.focus) {newwindow.focus()}
	return false;
}

</script>
<style>


    .main{
        min-height: 600px;
    }
    .ui-menu { width: 150px; font-size: 10pt;}


</style>
{% endblock %}

{% block header %}
  		<header>
			{% if user%}
	  		<button onclick="logout()" > Logout</button>
			{% endif %}

      		<nav>
      		</nav>
    	</header>
    	{% endblock %}

{% block main%}

{% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
<table>
    <tr>
        <th>SKU</th>
        <th>Name</th>
        <th>Barcode</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Enabled</th>
    </tr>
    {% for product in products%}
        <tr>
            <td id="{{product.pk}}"  onclick="popitup(id)">{{product.sku}}</td>
            <td>{{product.name}}</td>
            <td>{{product.barcode}}</td>
            <td>{{product.price}}</td>
            <td>{{product.stock}}</td>
            <td>{{product.enabled}}</td>
        </tr>
    {%endfor%}
</table>




{% endblock %}