{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}

{% block title %} <title>Session Page | ERP Rustaveli</title> {% endblock %}
{% block js %}
{% load socketio_tags %}
    {% socketio %}
    {% load jsonify %}
	<script src="/static/js/session.js"></script>
	<script src="/static/js/jquery.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>


	<script>
		var prices= {{session.prices|jsonify}};
		var list_of_draggables = new Array("transactions", "caption", "seat_types", "order", "order_list", "pin_input", "main");
		var hall = "{{hall.name}}";
		var draggable_objects = {}
		draggable_objects.uid = hall;
		var username = "{{username}}";
		/*
		function get_configuration(){
			$.post("/GetConfig/", {username:username, hall:hall},function(data){
				var data_ = $.parseJSON(data);
				for(x in data_){
					$("."+x).css("left",data_[x].x+"px");
					$("."+x).css("top",data_[x].y+"px");
					var dict = {}
					dict.x = data_[x].x;
					dict.y = data_[x].y;
					draggable_objects[x]= dict;


				}
			});


		}*/

		function save_configuration(){
			var dict = JSON.stringify(draggable_objects, null, 2);
			$.post("/SaveConfig/", {username:username, data:dict, hall:hall},function(data){

			});
		}

		/*
		$(function() {
			$( ".transactions" ).draggable({
				containment: "body",
				stop: function( event, ui ) {
					var split = $(this).attr("class").split(" ");
					var dict = {x:null, y:null};
					dict.x = $(this)[0].offsetLeft;
					dict.y = $(this)[0].offsetTop;
					draggable_objects[split[0]] = dict;
					save_configuration();
				}
			});
			$( ".caption" ).draggable(
				{containment: "body",
				stop: function( event, ui ) {
					get_data_from_draggable(this);
				}
			});
		});*/

		function get_data_from_draggable(obj){
			var split = $(obj).attr("class").split(" ");
			var dict = {x:null, y:null};
			dict.x = $(obj)[0].offsetLeft;
			dict.y = $(obj)[0].offsetTop;
			draggable_objects[split[0]] = dict;

		}

		var session = "{{session.uid}}";
		var blocked_tickets = new Array();

		var ch = "session-{{session.uid}}";
		var socket = new io.Socket();
		socket.connect();
		socket.on('connect', function() {
    		socket.subscribe("session-{{session.uid}}");
    		socket.on('message', messaged);
		});

		function get_updated_locations(){
			var ar = list_of_draggables;
			for (x in ar){
				$("."+ar[x]).each(function(indes,ui){
					var dict = {x:null, y:null};
					dict.x = $(this)[0].offsetLeft;
					dict.y = $(this)[0].offsetTop;
					draggable_objects[ar[x]] = dict;
				});
			}

		}


	    var timer = setInterval(get_available_seats, 30000);
	    var con = "{{const}}";
	    var ip = "{{ip}}";
		var sess = "{{session.uid}}";
		$(document).ready(function(){
			//get_configuration();
			get_available_seats();
			var ar = list_of_draggables;
			for (x in ar){


				$( "."+ar[x] ).draggable(
					{containment: "body",
					stop: function( event, ui ) {
						get_data_from_draggable(this);
						save_configuration();
					}
				});

			}

			post_data("{{session.uid}}");
			get_blocked();

		});
		function post_data(value){
			$.post("/ticket/", {sess:"{{session.uid}}"}, function(data){
				var data_ = $.parseJSON(data);
				for(x in data_){
					if(data_[x].fields.status=="RE"){
						$("#"+data_[x].fields.name).attr("class", "seat reserved");
						$("#"+data_[x].fields.name).attr("sel", "false");
					}else if(data_[x].fields.status=="SL"){
						$("#"+data_[x].fields.name).attr("clickable", "false");
						$("#"+data_[x].fields.name).attr("class", "seat sold");
						$("#"+data_[x].fields.name).attr("sel", "false");
					}else{
						$("#"+data_[x].fields.name).attr("status", "original");
						$("#"+data_[x].fields.name).attr("class", "seat "+$("#"+id).attr("ttype"));
					}


					$("#"+data_[x].fields.name).attr("status", data_[x].fields.status);
				}
			});
		}
		function post_transaction(id){
			if(id=="reserve"){
				if(selected.length){
					if($("#cust_name").val()&&$("#cust_surname").val()){
						post_selected("RE");

					}else{
						alert("no name specified");
					}

				}
			}else if(id=="sell"){
				//test_post();
				post_selected("SL");
			}else{
				sell_reserved();
			}
		}



		function block_ticket(id){
			var id = $("#"+id).attr("uid");
			$.post("/block_ticket/", {data:id, sess:"{{session.uid}}"}, function(data){


			});
		}
		function clear_blocked(){
			var array = blocked_tickets;
			for (x in array){
				unblock_seat(array[x]);
			}
			post_data();
		}

		function get_blocked(){
			blocked_tickets = [];
			$.post("/get_blocked_tickets/", {sess:"{{session.uid}}"}, function(data){
				var data_ = $.parseJSON(data);
				for(x in data_){
					block_seat(data_[x].fields.name);
					blocked_tickets.push(data_[x].fields.name);

				}
				var timer = setTimeout(clear_blocked, 10000);
			});
		}

		function test_post(){
			var array = JSON.stringify(selected, null, 2);
			$.post("/test_post/", {data:array, sess:"{{session.uid}}", trtype:"SL"}, function(data){
				alert(data);

			});
		}
		function validateEmail(email) {
 			var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
  			if( !emailReg.test( email ) ) {
    			return false;
  			} else {
    			return true;
  			}
		}

		function post_selected(event){
			var array = JSON.stringify(selected, null, 2);
			var cust_name = $("#cust_name").val();
			var cust_surname = $("#cust_surname").val();
			var cust_mobile = $("#cust_mobile").val();
			var cust_email = $("#cust_email").val();
			$.post("/ticket_order/",
					   {data:array,
					   	sess:"{{session.uid}}",
						process:event,
						cust_name:cust_name,
						cust_surname:cust_surname,
						cust_email:cust_email,
						cust_mobile:cust_mobile
						}, function(data){
				var data_ = $.parseJSON(data);

				$(".ticket_table_tr").remove();
				clear_order_reservation_inputs();
				selected = [];
				post_data("{{session.uid}}");
				get_available_seats();


			});

		}

		function clear_order_reservation_inputs(){
			$("#cust_name").val("");
			$("#cust_surname").val("");
			$("#cust_mobile").val("");
			$("#cust_email").val("");
		}

		function get_available_seats(){
			$.post("/ticketSales/{{hall.name}}/{{date}}/{{time}}/", function(data){
				var data = $.parseJSON(data);

				for (x in data){
					$("#av_"+x).html(+data[x]);
				}
			});
		}

		function sell_reserved(){
			var array = JSON.stringify(selected, null, 2);
			$.post("/ticket_order/", {rs:array, sess:"{{session.uid}}"}, function(data){
				var data_ = $.parseJSON(data);
				for(x in data_){
					//console.log(data_[x].fields.name);
					if(data_[x].fields.status=="RE"){
						$("#"+data_[x].fields.name).attr("class", "seat reserved");
					}else{
						$("#"+data_[x].fields.name).attr("class", "seat sold");
					}
					//$("#"+data_[x].fields.name).attr("status", data_[x].fields.status);
				}
				$(".ticket_table_tr").remove();
				clear_order_reservation_inputs();
				post_data("{{session.uid}}");
			});

		}

		function get_type_caption(caption){
			if(caption=="std"){
				return "სტანდარტი";
			}
			if(caption=="vip"){
				return "ვიპ";
			}
			if(caption=="sta"){
				return "სტატუსი";
			}
			if(caption=="eco"){
				return "ეკონომი";
			}
		}


		function add_orig_tickets_to_selected(id){
			var id = $("#"+id).attr("uid");
			selected.push(id);
		}
		function remove_orig_tickets_from_selected(id){
			var index = selected.indexOf($("#"+id).attr("uid"));
			selected.splice(index,1);
		}

		function remove_ticket_from_order_list(id){
			$("#_"+id).remove();
		}
		function add_ticket_to_order_list(id){
			var seat = $("#"+id).prop("id");
			seat = seat.split("s");
			var tr = document.createElement("tr");
			tr.id = "_"+id;
			tr.className = "ticket_table_tr"
			var row_td = document.createElement("td");
			var seat_td = document.createElement("td");
			var ttype_td = document.createElement("td");
			var price_td = document.createElement("td");
			var row = document.createTextNode(" "+seat[0].substr(1,1));
			var seat = document.createTextNode(" "+seat[1]);
			var ttype = document.createTextNode(get_georgian_names($("#"+id).attr("ttype")));
			var price = document.createTextNode(prices[$("#"+id).attr("ttype")]+" ლ");

			var table = $("#order_table")[0];
			table.appendChild(tr);
			tr.appendChild(row_td);
			tr.appendChild(seat_td);
			tr.appendChild(ttype_td);
			tr.appendChild(price_td);
			seat_td.appendChild(seat);
			row_td.appendChild(row);
			ttype_td.appendChild(ttype);
			price_td.appendChild(price);

		}

		function block_seat(id){
			//if($("#"+id).attr("status")!="RE"){
				add_ticket_to_order_list(id);
			//}

			$("#"+id).attr("tmp_status", $("#"+id).attr("status"));
			$("#"+id).attr("status", "blk");
			$("#"+id).attr("class", "seat blocked");
		}
		function unblock_seat(id){
			remove_ticket_from_order_list(id);
			socket.send({"channel":ch, "id": id, "command": "remove_blocked", "session":session});
			$("#"+id).attr("status", "original");
			$("#"+id).attr("class", "seat "+$("#"+id).attr("ttype"));
			$("#"+id).attr("status", $("#"+id).attr("tmp_status"));
			if($("#"+id).attr("status")=="RE"){
				$("#"+id).attr("class", "seat reserved");
			}
		}

		function get_georgian_names(id){
			switch(id){
				case "std":
				return "სტანდარტი"
				break;
				case "eco":
				return "ეკონომი";
				break;
				case "sta":
				return "სტატუსი";
				break;
				case "vip":
				return "ვიპ";
				break;

			}
		}

		function choose_seat(id){
			if($("#"+id).attr("clickable")=="true"){
				if($("#"+id).attr("status")=="blk"){
					unblock_seat(id);
					remove_orig_tickets_from_selected(id);
					socket.send({"channel":ch, "id": id, "command": "unblock"});
				}else{
					block_ticket(id);
					block_seat(id);
					add_orig_tickets_to_selected(id);
					socket.send({"channel":ch, "id": id, "command": "block"});
				}
			}
		}
		function getOrderByPin(){
			var pin = $("#pin_input").val()
			$.post("/getOrderByPin/",{pin:pin, session:sess},function(data){


 				for(x in data){
					if(x=="seats"){
						obj = data[x];
						for(y in obj){
							choose_seat(obj[y].fields.name);
							add_ticket_to_order_list(obj[y].fields.name);
						}
					}else if(x=="order"){
						obj = data[x];
						for(y in obj){
							$("#"+y).val(obj[y]);
						}
					}
					//

				}
			});
		}

		function messaged(str){
			console.log(str);
			switch(str["command"]){
				case "block":
					$("#"+str["id"]).attr("class", "seat blocked");
					$("#"+str["id"]).attr("status", "blk");
					$("#"+str["id"]).attr("clickable", "false");
					$("#"+str["id"]).attr("ref", str["ref"]);
					$("#"+str["id"]).attr("res", str["res"]);
					break;
				case "unblock":
					$("#"+str["id"]).attr("class", "seat "+$("#"+str["id"]).attr("ttype"));
					$("#"+str["id"]).attr("status", "original");
					$("#"+str["id"]).attr("clickable", "true");

					break;
				case "refresh":
					post_data();
					break;
				case "remove_blocked":
					console.log("erased");
			}
		}

		function choose_seat_(id){
			var arr = Array("seat reserved", "seat sold", "seat selected" );
			if(arr.indexOf($("#"+id).attr("class"))==-1){
				socket.send({"channel":ch, "message": id, "command": "block", "ref":ip, "res": $("#"+id).attr("class")});
			}else if($("#"+id).attr("class")=="seat blk"&&ip==$("#"+id).attr("ref")){
				$("#"+id).attr("class", $("#"+id).attr("res"));
				socket.send({"channel":ch, "message": id, "command": "unblock", "ref":ip});
			}else{
				if($("#"+id).attr("status")!="SL"){
					if($("#"+id).attr("sel")=="true"){
						if($("#"+id).attr("status")!="RE"){
							selected.splice($.inArray($("#"+id).attr("uid"), selected),1);
							$("#"+id).attr("class", "seat "+$("#"+id).attr("ttype"));
							$("#"+id).attr("sel", "false");
						}else{
							selected.splice($.inArray($("#"+id).attr("uid"), selected),1);
							$("#"+id).attr("class", "seat reserved");
							$("#"+id).attr("sel", "false");
						}
					}else{
						selected.push($("#"+id).attr("uid"));
						$("#"+id).attr("sel", "true");
						$("#"+id).attr("class", "seat selected");
					}
				}else if($("#"+id).attr("status")!="RE"){
				}
			}



		}


	</script>

{% endblock %}
{% block css %}
	<link type="text/css" rel="stylesheet" href="/static/css/styles.css">
	<link type="text/css" rel="stylesheet" href="/static/css/session.css">
{% endblock %}

{% block header %}
  		<header>
			{% if user%}
	  		<button onclick="logout()" > Logout</button>
			{% endif %}

      		<nav>
      		</nav>
    	</header>
    	{% endblock %}

{% block main%}
<div class="main">
	{% if error %}
		<div style="color: red;">{{error}}</div>
	{% endif%}

    <style>


    </style>
    <link type="text/css" rel="stylesheet" href="/static/css/{{hall.name}}.css">
    <div id="seat_types" class="seat_types">
    	<ul>
    		{% for type in seat_types %}
    		  <li><div class="seat__  {{type}}">{{ type | get_caption}}</div><label id="av_{{type}}"></label></li>
    		{% endfor%}



    	<li><div class="seat__">ჯამი</div><label id="av_total"></label></li>


    	<li style="background-color: #eee;"><div class="li_empty"></div></li>
    	<li><div class="seat__ reserved_">დაჯავშნული</div><label id="av_reserved"></label></li>
    	<li><div class="seat__ sold_">გაყიდული</div><label id="av_sold"></label></li>
    	<li><div class="seat__">ჯამი</div><label id="av_ototal"></label></li>
    	</ul>
    </div>
    <div class="transactions">
    	<input type="button" onclick="post_transaction(id)" id="reserve" value="დაჯავშვნა"/>
    	<input type="button" onclick="post_transaction(id)" id="sell" value="გაყიდვა"/>
    	<input type="button" onclick="post_transaction(id)" id="sell_reserved" value="დაჯ.გაყიდვა"/>
    </div>
    <div class="caption">&nbsp;</div>
    <div class="caption_hall">{{hall.title}}</div>
    <div class="caption_date">{{date}}</div>
    <div class="caption_time">{{time}}</div>
    <div class="movie"><h1>{{session.movie}}</h1></div>
    <div class="order">
    	<input type="text" id="cust_name" placeholder="სახელი"/>
    	<input type="text" id="cust_surname" placeholder="გვარი"/>
    	<input type="text" id="cust_mobile" placeholder="მობილური"/>
    	<input type="text" id="cust_email" placeholder="ელ.ფოსტა"/>
    </div>
    <div class="order_list">
    	<table id="order_table">
    		<tr>
    			<th class="r">რიგი</th>
    			<th class="s">ადგილი</th>
    			<th class="c">კლასი</th>
    			<th class="p">ფასი</th>
    		</tr>
    	</table>
    </div>
    <div class="pin_input"><input type="text" id="pin_input" placeholder="პინკოდი"/><input onclick="getOrderByPin()" type="button" value="მოვიძიოთ შეკვეთა"/></div>
    <div class="main" style="position:fixed; width: 700px; height:700px;">

        {% for seat in seats%}
        <div uid="{{seat.uid}}" ttype="{{seat.ttype}}" sid="{{seat.id}}" id="r{{seat.row}}s{{seat.seat}}" class="seat {{seat.ttype}}" onclick="choose_seat(id)" onmouseover="seat_mouseover(id)"
		  		onmouseout="seat_mouseout(id)"
		  		sel="false" status="original"
		  		clickable="true" style="position: absolute; width: {{seat.width}}%; height: {{seat.width}}%; left: {{seat.left}}%; top: {{seat.top}}%;">
		  		<div class="inner">R:{{seat.row}}  S:{{seat.seat}}</div>
        </div>
        {% endfor%}
    </div>

</div>
{% endblock %}