{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}

{% block title %} <title>Session Page | ERP Rustaveli</title> {% endblock %}
{% block js %}
{% load socketio_tags %}
    {% socketio %}
	<script src="/static/js/session.js"></script>
	<script src="/static/js/jquery.js"></script>
	<script>
	
	function messaged(str){
		alert(str);
	}
	var ch = "session-{{hall.name}}"
	var socket = new io.Socket();
	socket.connect();
	socket.on('connect', function() {
    socket.subscribe("session-{{hall.name}}");
    socket.on('message', messaged);
});
	</script>
	 
{% endblock %}
{% block css %}
	<link type="text/css" rel="stylesheet" href="/static/css/styles.css">
	 
{% endblock %}

{% block header %}
  		<header>
			{% if user%}
	  		<button onclick="logout()" > Logout</button>
			{% endif %}
      		
      		<nav>
      		</nav>
    	</header>
    	{% endblock %}

{% block main%}

	{% if error %}
		<div style="color: red;">{{error}}</div>
	{% endif%}
<ul>
	{% for session in sessions%}
		<li><a href="/session/{{session.uid}}">{{session.movie.name}}</a></li>
    {% endfor%}
    </ul>
{% endblock %}
