{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}

{% block title %} <title>Session Page | ERP Rustaveli</title> {% endblock %}
{% block js %}
	<script src="/static/js/session.js"></script>
	<script src="/static/js/jquery.js"></script>
 <script>
$(function() {
	$( "#datepicker_from" ).datepicker();
	$( "#datepicker_to" ).datepicker();
});

function submit_form(){
	var date_st = $("#datepicker_from").val();
	var arr = date_st.split("/");
	var day =  arr[1];
	var month = arr[0];
	var year = arr[2]; 
	
	var prices =  {eco:$("#eco_value").val(),std:$("#std_value").val(),sta:$("#sta_value").val(),vip:$("#vip_value").val()};
	prices = JSON.stringify(prices);
	
	$.post("/create_session/", {day:day, month:month, year:year, hour:$("#hour").val(), minute:$("#minute").val(),
								hall_id:$("#hall").val(), 
		                      movie_id:$("#movie").val(),
		                      duration:$("#duration").val(),
		                      poster_url:$('#poster_url').val(),
		                       prices:prices}, function(data){
		console.log(data);
		var json = $.parseJSON(data);
		console.log(json);	
	});
	
}
</script>
	 
{% endblock %}
{% block css %}
	<link type="text/css" rel="stylesheet" href="/static/css/styles.css">
	<link type="text/css" rel="stylesheet" href="/static/css/session.css">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	 <script>
	$(function() {
		$( "#draggable" ).draggable();
	});
	</script> 
{% endblock %}

{% block header %}
  		<header>
			{% if user%}
	  		<button onclick="logout()" > Logout</button>
			{% endif %}
      		
      		<nav>
      		</nav>
    	</header>
    	{% endblock %}

{% block main%}

	{% if error %}
		<div style="color: red;">{{error}}</div>
	{% endif%} 
	
	
	<p>Date: <input type="text" id="datepicker_from"></p>
	<p>Date: <input type="text" id="datepicker_to"></p>
	
    <div class="sess_form">
    {% csrf_token %}
    	<div >
    			<select id="movie">		
    			{% for movie in movies %}
					<option value="{{movie.id}}"> {{movie.name}}</option>
				{% endfor %}
				</select>
				<select id="hall">
				{% for hall in halls %}
				<option value="{{hall.id}}"> {{hall.title}}</option>
				{% endfor %}
				</select>

<p>
		<select id="hour">
	
					<option value="12"> 12</option>
					<option value="13"> 13</option>
					<option value="14"> 14</option>
					<option value="15"> 15</option>
					<option value="16"> 16</option>
					<option value="17"> 17</option>
					<option value="18"> 18</option>
					<option value="19"> 19</option>
					<option value="20"> 20</option>
					<option value="21"> 21</option>
					<option value="22"> 22</option>
					<option value="23"> 23</option>
					<option value="00"> 00</option>
		
		
	
		</select>

	<select id="minute">
		<option value="00"> 00</option>
		<option value="05"> 05</option>
		<option value="10"> 10</option>
		<option value="15"> 15</option>
		<option value="20"> 20</option>
		<option value="25"> 25</option>
		<option value="30"> 30</option>
		<option value="35"> 35</option>
		<option value="40"> 40</option>
		<option value="45"> 45</option>
		<option value="50"> 50</option>
		<option value="55"> 55</option>
	</select>
	</p>


	<p>
	<label>Duration</label><input type="text" id="duration"/>
	</p>
	<br>
	<br>
	<p>
	<label>Poster URL</label><input type="text" id="poster_url"/>
	</p>
	<br>
	<br>
	<table>
	<tr>
		<td id="eco">Eco</td><td><input type="text" id="eco_value"/></td>
	</tr>
	<tr>
		<td id="std">Std</td><td><input type="text" id="std_value"/></td>
	</tr>
	<tr>
		<td id="sta">Sta</td><td><input type="text" id="sta_value"/></td>
	</tr>
	<tr>
		<td id="vip">VIP</td><td><input type="text" id="vip_value"/></td>
	</tr>
	</table>			
	<br>
	<p>
	<input type="button" onclick="submit_form()" value="Create Session"/> 
	</p>
		</form>
    		
    	</div>
    </div>
    
{% endblock %}
