{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}

{% block title %} <title>Hall Page | ERP Rustaveli</title> {% endblock %}
{% block js %}
 {% load socketio_tags %}
    {% socketio %}
	<script src="/static/js/session.js"></script>
	<script src="/static/js/jquery.js"></script>
	<script>
	
	function send_message(){
		var message = $("#message").val()
		socket.send(message);
	}
	
	function messaged(event){
		alert(event);
	}
	var socket = new io.Socket();
	socket.connect();
	socket.on('connect', function() {
    socket.subscribe('my channel');
    socket.on('message', messaged);
});
		  
		</script>
	 
{% endblock %}
{% block css %}
	<link type="text/css" rel="stylesheet" href="/static/css/styles.css">
	<link type="text/css" rel="stylesheet" href="/static/css/seats.css"> 
{% endblock %}

{% block header %}
  		<header>
			{% if user%}
	  		<button onclick="logout()" > Logout</button>
			{% endif %}
      		<nav>
      		</nav>
    	</header>
    	{% endblock %}

{% block main%}

	{% if error %}
		<div style="color: red;">{{error}}</div>
	{% endif%}

    <input type="text" id="message"><input type="button" onclick="send_message()" value="Send"/>
    
{% endblock %}
