{% include "cavea/html/head.html" %}

	<body>
		<div class="page">
			{% include "cavea/html/header.html" %}
			<div class="main">

			</div>
			{% include "cavea/html/footer.html" %}
			

		</div>
	</body>
</html>