{% include "cavea/html/head.html" %}
{% load cavea_tags %}


<script>

	var lang = "{{lang}}";
	//session_variables


  function change_password_form(){
    var error  = Array();
    var password = $("#password_change").val();
    var confirm_password = $("#confirm_password_change").val();
    var username = $("#username_change").val();
    var key = $("#key_change").val();
    if(!confirm_password.length){
			error.push("{{translations.confirm_password_is_required|translate:lang}}");
		}
		if(password!=confirm_password){
			error.push("{{translations.passwords_dont_match|translate:lang}}");
		}
    if(password.length<6){
			error.push("{{translations.password_is_short|translate:lang}}");
		}
    if(!error.length){
        console.log(password + "  "+ confirm_password + "  "+ username + "  "+ key);
        $.post("{{url}}/change_password_user_cavea/", {username:username, password:password, key:key}, function(data){
          if(data=="no user"){

  				}else if(data=="done"){
  					window.location = "{{url}}";
  				}
        });
    }else{
      console.log(error);
    }

  }

	$(document).ready(function(){
    $(".login-form-inner >img").css("display", "none");
    $(".login-form").css("display", "block");
    $("form.login").html($(".change_password_form").html());
    $(".registration_toggle").css("display", "none");

  });

</script>


	<body>
		<div class="page">
			{% include "cavea/html/header.html" %}
			<div class="main">
        <form class="change_password_form" action="" method="post" >
  				<h3>{{translations.change_password|translate:lang}}</h3>
  				{% csrf_token %}

  				<input type="password" name="password"  placeholder="{{translations.new_password|translate:lang}}" id="password_change">
  				<input type="password" name="confirm_password"  placeholder="{{translations.confirm_password|translate:lang}}" id="confirm_password_change">
  				<input type="button" onclick="change_password_form()" value="{{translations.submit|translate:lang}}" id="form-button"/>
  				<input type="hidden"  name="source" value="cavea.ge" />
          <input type="hidden"  name="username" value="{{username}}" id="username_change"/>
          <input type="hidden"  name="key" value="{{token}}" id="key_change"/>
  			</form>
      </div>
      <!--end main-->
      {% include "cavea/html/footer.html" %}
    </div>
	</body>
</html>
