{% include "cavea/html/head.html" %}
<script>
			var d_type = "{{d_type}}";
			var current_movies;

			current_movies = $.parseJSON('{{current_movies|safe}}');
			var coming_soon_movies = $.parseJSON('{{coming_soon_movies|safe}}');
			var lang = "{{lang}}";


			function build_movie_list(objs, target){
				for( x in objs){
					var link = document.createElement("a");
					link.href = "{{url}}/movie/current/?id="+objs[x]._id;
					if(target!=".movie-list-inner"){
						link.href = "{{url}}/movie/coming_soon/?id="+objs[x]._id;
					}
					var mov = document.createElement("div");
					mov.className = "m-item";
					var img = document.createElement("img");
					img.src = "{{url}}/../media/"+objs[x].poster_thumbnail;


					mov.appendChild(link);
					link.appendChild(img);
					if(target==".movie-list-inner"){
						var imdb_score = document.createElement("div");

						var imdb_score_img = document.createElement("img");
						imdb_score.className = "imdb_score";
						imdb_score_img.src = "{{url}}/../static/cavea/images/imdb_rating.png";
						imdb_score_img.className = "imdb_score_img";
						var rating_width = objs[x].imdb_score*10;

						mov.appendChild(imdb_score);
						imdb_score.appendChild(imdb_score_img);
						$(imdb_score).css("background-size", rating_width + "% 20px");

						var trailer_button = document.createElement("div");
						var tr_link = objs[x].trailer_url;
						var index = tr_link.indexOf(".be/");
						if(index>-1){
							tr_link = tr_link.substr(index+4,300);

						}else{
							index = tr_link.indexOf("?v");
							tr_link = tr_link.substr(index+3,300);
							var s_index = tr_link.indexOf("&");

							if(s_index>-1){
								tr_link = tr_link.substr(0,s_index);
							}
						}

						trailer_button.id = tr_link;
						trailer_button.className = "coming_soon_play";
						$(trailer_button).click(function(id){

							play_tr($(this).prop("id"));
						});
						mov.appendChild(trailer_button);

					}
					if(target==".coming-soon"){
						var tr_link = objs[x].trailer_url;
						var index = tr_link.indexOf(".be/");
						if(index>-1){
							tr_link = tr_link.substr(index+4,300);

						}else{
							index = tr_link.indexOf("?v");
							tr_link = tr_link.substr(index+3,300);
							var s_index = tr_link.indexOf("&");

							if(s_index>-1){
								tr_link = tr_link.substr(0,s_index);
							}
						}

						var play_trailer = document.createElement("div");
						play_trailer.id = tr_link;
						play_trailer.className = "coming_soon_play";
						$(play_trailer).click(function(){

							play_tr($(this).prop("id"));
						});
						mov.appendChild(play_trailer);
					}

					$(target).append(mov);

				}
			}
			$(document).ready(function(){
				if(d_type=="json"){
					build_movie_list(current_movies, ".movie-list-inner");
					build_movie_list(coming_soon_movies, ".coming-soon");
				}
			});
			function play_tr(id){
				jQuery(".video-outer").css("display", "block");
				var str = "https://www.youtube.com/embed/"+id+"?autoplay=1";
				jQuery("#iframe_video").attr("src", str);
			}
			function close_video(){
				jQuery("#iframe_video").attr("src","");
    			jQuery(".video-outer").css("display","none");
			}
</script>
	<body>
		<div class="page">
			{% include "cavea/html/header.html" %}
			<div class="main">
				<div class="video-outer">
					<div class="video-inner">
						<img src="{{url}}/../static/cavea/images/close.png" onclick="close_video()" width="30px"/>
						<iframe id="iframe_video" width="800" height="450" src="" frameborder="0" allowfullscreen>

						</iframe>
					</div>

				</div>
				<div class="main-left">
					<div class="movie-list">
						<div class="main-header">
							{% if lang == "eng"%}
							<h3>Now in Cavea</h3>
							{% else %}
							<h3>ახლა კავეაში</h3>
							{% endif %}
						</div>

						<div class="movie-list-inner">
							{% if not d_type == "json"%}
								{% for m in current_movies%}
								<div class="m-item">
									<img src="{{url}}/../media/{{m.poster_thumbnail}}"/>
									{{m.imdb_score}}
								</div>
								{% endfor %}
							{% endif %}
						</div>
						<div class="coming-soon-header">
							{% if lang == "eng"%}
							<h3>Coming Soon...</h3>
							{% else %}
							<h3>იხილეთ მალე...</h3>
							{% endif %}
						</div>
						<div class="coming-soon">
							{% if not d_type == "json"%}
								{% for m in coming_soon_movies%}
								<div class="m-item">
									<img src="{{url}}/../media/{{m.poster_thumbnail}}"/>
								</div>
								{% endfor %}
							{% endif %}
						</div>
					</div>
			</div>
			</div>
			{% include "cavea/html/footer.html" %}
		</div>
	</body>
</html>
