{% include "cavea/html/head.html" %}
<script>
    $(document).ready(function(){
		{% if request.GET.sid %}
			var cur_next_value = $("#next_l").val();
		    $("#next_l").val(cur_next_value+"&sid={{request.GET.sid}}");
		{% endif%}

	});
</script>
<body>
		<div class="page">
			{% include "cavea/html/header.html" %}
			<div class="main">

		            <div>
			<h3>LOGIN</h3>

			<form class="login" action="/login/" method="post" >
				{% csrf_token %}
    			<label for="username">User name:</label>
    			<input type="text" name="username" value="" id="username">
    			<label for="password">Password:</label>
    			<input type="password" name="password" value="" id="password">

    			<input type="submit" value="login" />
    			<input type="hidden" id="next_l"  name="next" value="{{ next |escape }}" />
                <input type="hidden"  name="source" value="cavea.ge" />
			</form>
		</div>
		<div>
			<h3>REGISTER</h3>
		</div>


			</div>
			{% include "cavea/html/footer.html" %}
		</div>
	</body>
</html>