{% include "cavea/html/head.html" %}
{% load cavea_tags %}


<script>
	var uuids = Array();
	{% for uuid in  request.session.uuids %}
		uuids.push("{{uuid}}");
	{% endfor%}
	var months = {
		"01":{"geo":"იან","eng":"Jan"},
		"02":{"geo":"თებ","eng":"Feb"},
		"03":{"geo":"მარ","eng":"Mar"},
		"04":{"geo":"აპრ","eng":"Apr"},
		"05":{"geo":"მაი","eng":"May"},
		"06":{"geo":"ივნ","eng":"Jun"},
		"07":{"geo":"ივლ","eng":"Jul"},
		"08":{"geo":"აგვ","eng":"Aug"},
		"09":{"geo":"სექ","eng":"Sep"},
		"10":{"geo":"ოქტ","eng":"Oct"},
		"11":{"geo":"ნოე","eng":"Nov"},
		"12":{"geo":"დეკ","eng":"Dec"},
	}


	var lang = "{{lang}}";
	var token = "{{request.session.csrf_token}}";
	//session_variables


	$(document).ready(function(){});
	var json_post = {};

	function translate_language(language){
		switch(language){
			case "geo":
				return "{{translations.georgian|translate:lang}}";
				case "eng":
				return "{{translations.english|translate:lang}}";
				case "rus":
				return "{{translations.russian|translate:lang}}";

	}
}


function build_popup(movie, hall, session_id, tickets, lang){

				hall = hall.replace("cav", "Cavea");

				hall = hall.replace("_", " ");
				var arr = session_id.split("/");
				$("#lang").html(translate_language(lang));
				$("#date").html(arr[1]);
				$("#time").html(arr[2]);
				$("#hall").html(hall);
				$("#movie").html(movie);
				var total_to_pay = 0;
				for (x in tickets){

					var tr = document.createElement("tr");
					var row = document.createElement("td");
					var spl = tickets[x].setUID.split("_");
					var row_t =document.createTextNode(spl[1].substr(1,3))
					var seat = document.createElement("td");
					var seat_t =document.createTextNode(spl[2].substr(1,3))
					var price = document.createElement("td");
					var price_t =document.createTextNode(tickets[x].seatPrice+" ლ");

					total_to_pay  += tickets[x].seatPrice;
					row.appendChild(row_t);
					seat.appendChild(seat_t);
					price.appendChild(price_t);
					tr.appendChild(row);
					tr.appendChild(seat);
					tr.appendChild(price);
					$(".cav-table table" ).append(tr);
				}
				$(".cav-total").html("{{translations.total|translate:lang}}: "+total_to_pay+"ლ");


				$(".cav-table table" ).append(tr);
				check_table_size($(".cav-table"));
			}
function check_table_size(elem){
				var size = elem.height();
				if (size>150){
					elem.css("height","100");
					elem.css("overflow-y", "scroll");
				}
			}

function clear_popup(){
	$("#date").html("");
			 $("#time").html("");
			 $("#hall").html("");
			 $(".cav-table tr:not(:first-child)").remove();
	$(".cav-outer").css("display", "none");
}

function buy_reserved_popup(){
	$("#date").html("");
			 $("#time").html("");
			 $("#hall").html("");
			 $(".cav-table tr:not(:first-child)").remove();
			 $(".cav-outer").css("display", "none");
			 $.post("{{url}}/../orderpayonline.api/",json_post,function(data){
			 	//$(".page").html(data);
			});

}
function buy_reserved(id){

	$.post("{{url}}/getOrderByPinCavea/",
		{
			source:"cavea.ge",
			csrfmiddlewaretoken:token,
			pin:id


		},
		function(data){
			console.log(data);
			var data = $.parseJSON(data);
			var seats = new Array();
			var prices = data["prices"];
			var j_seats =data["seats"];
			var total = 0;
			var description  = "";
			var session_id = data.order.session_id;
			for(x in j_seats){
				 var dict = {"setUID":j_seats[x].pk, "seatPrice":parseFloat(prices[j_seats[x].fields.ttype]),"discountAmount":0}
				 total += parseFloat(prices[j_seats[x].fields.ttype]);
				 seats.push(dict);
			}

			build_popup(data.order.movie,data.order.hall,data.order.session_id,seats, data.order.language);
			$(".cav-outer").css("display", "block");
			source_code = uuids[parseInt(Math.random()*29)];
			source_code = source_code.replace("-","");
			source_code = source_code.replace("-","");
			source_code = source_code.substr(0,16);



			json_post = {
				reservationPin:id,
				seats:JSON.stringify(seats),
				source:"cavea.ge",
				source_code: source_code,
				amount:total,
				description:"",
				boxOfficeProducts:JSON.stringify(""),
				session_id:session_id,
				paidByCash:0,
				paidByCreditCard:total,
				paidByGiftCard:0,
				discountAmount:0,
				startAmount:total,
				finalAmount:total,
				csrfmiddlewaretoken:token,
				};


		});

}



</script>


	<body>
		<div class="page">
			{% include "cavea/html/header.html" %}
			<div class="main">
				<table>




			</tr>
        </table>
				<table class="table-prof">
                <tbody>
                <tr class="head-tr">
                    <td colspan="4">დაჯავშნილი ბილეთები</td>
                </tr>
                <tr class="head-table2">
                    <td>{{translations.date|translate:lang}}</td>
                    <td>{{translations.time|translate:lang}}</td>
                    <td>{{translations.name|translate:lang}}</td>
                    <td>{{translations.language|translate:lang}}</td>
                    <td>{{translations.quantity|translate:lang}}</td>
                    <td>{{translations.price|translate:lang}}</td>
										<td>{{translations.pin|translate:lang}}</td>
										<td>{{translations.buy|translate:lang}}</td>
                </tr>
								{% for reservation in reservations %}
								<tr class="table-row">
				        <td class="p-date">
				          {{reservation.date}}
				        </td>
				        <td class="p-time">
				        {{reservation.time}}
				        </td>
				        <td class="p-name">
				        {{reservation.name|translate:lang}}
				        </td>
								<td class="p-lang">
				        {{reservation.lang}}
				        </td>
								<td class="p-count">
				        {{reservation.count}} <!--{{translations.ticket|translate:lang}}-->
				        </td>
								<td class="p-total">
				        {{reservation.total}}
				        </td>
				        <td class="p-pin">
				        {{reservation.pin}}
				        </td>

								<td class="p-buy">

				        <button type="button" name="name" value="" onclick="buy_reserved(id)" id="{{reservation.pin}}">
								{{translations.buy|translate:lang}}
							</button>
				        </td>
							</tr>
				        {% endfor %}


                </tbody>
            </table>

				<div class="cav-outer">
	<div class="cav-inner">
		<div class="cav-notification">
			<div>
					{{translations.warning|translate:lang}}
			</div>

		</div>
		<h3 id="movie"></h3>
		<p class="cav-description">
			<label>{{translations.language|translate:lang}}: </label><span id="lang"></span><br>
			<label>{{translations.date|translate:lang}}: </label><span id="date"></span><br>
			<label>{{translations.time|translate:lang}}: </label><span id="time"></span><br>
			<label>{{translations.hall|translate:lang}}: </label><span id="hall"></span><br>
		</p>

		<div class="cav-table">
			<table>
				<tr>
					<th>{{translations.row|translate:lang}}</th>
					<th>{{translations.seat|translate:lang}}</th>
					<th>{{translations.price|translate:lang}}</th>
				</tr>

			</table>
		</div>
		<div class="cav-total"></div>
		<div class="cav-inputs">
			<input type="button" onclick="clear_popup()" value="{{translations.cancel|translate:lang}}"/>
			<input type="button" onclick="buy_reserved_popup()" value="{{translations.accept|translate:lang}}"/>
		</div>
	</div>
</div>

			</div>
			<!--end main-->
      {% include "cavea/html/footer.html" %}


		</div>
	</body>
</html>
