{% include "cavea/html/head.html" %}
{% load cavea_tags %}
<script>
$(document).ready(function(){
	$(".movie-sessions-section").each(function(){

		//alert($(this).attr("id"));

	});
});
</script>
	<body>

		<div class="page">
			{% include "cavea/html/header.html" %}
			<div class="main">
				{% for s in sess %}
				  <div class="movie-sessions-section" id="{{s.movie_id}}" style="background-image: url({{url}}/../static/cavea/images/{{s.movie_id}}.jpg);">
					  <h1> {{s.movie_name}}</h1>
							<!--
						<div class="session-day">
						<img src="{{s.movie_poster}}">
						</div>
						-->
					  {% for day in s.sessions%}
            	<div class="session-day">
								<h4>{{day|get_string:lang}}</h4>
									{% for session in day.sessions%}
                    <p><a href="{{url}}/movie/current/?id={{session.movie_id}}&sid={{session.id}}">{{session.id|get_time}} {{session.prices|get_std_and_sta}} <span>ლ</span> {{session.lang}} {{session.is_3d|get_3d_tag}}</a></p>
                  {% endfor%}
							</div>
            {% endfor%}
				  </div>
				{% endfor %}
			</div>
			{% include "cavea/html/footer.html" %}


		</div>
	</body>
</html>
