{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} <title>Account | Login</title> {% endblock %}
{% block css %}
	<link type="text/css" rel="stylesheet" href="/static/css/styles.css"> 
		
{% endblock %}
{% block js %}<script src="{% static '/static/js/jquery.js' %}"></script> {% endblock %}



{% block main%}
{% if next %}

{% endif %}
<form action="/login/" method="post">
	{% csrf_token %}
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
  </form>
  
{% endblock %}