@font-face {
    font-family: tech;
    src: url('../fonts/bpgtech05caps.ttf');
}
@font-face {
    font-family: nino_helv;
    src: url('../fonts/nino_helv_9.ttf');
}
@font-face {
    font-family: BPG_nino;
    src: url('../fonts/bpg_nino_mtavruli_normal.ttf');
}@font-face {
    font-family: BPG_nino_bold;
    src: url('../fonts/bpg_nino_mtavruli_bold_4.ttf');
}@font-face {
    font-family: BPG_nino_medium;
    src: url('../fonts/BPGNinoMedium_2.ttf');
}@font-face {
    font-family: lari;
    src: url('../fonts/lari.ttf');
}@font-face {
    font-family: eng_freeroad;
    src: url('../fonts/freeroad_light.ttf');
}* {
   margin: 0px;
   padding: 0px;
}html{
-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
	padding: 0;
	margin: 0;
}body{

	margin: 0 !important;
    padding: 0 !important;

	background: url("../images/back.png");
  }a {
      color: white;
      font-family: nino_helv;
      text-decoration: none;
  }
.page{
	min-height: 800px;
	width:1100px;
	margin:0px auto 0px;
	background-color: #fff;
	min-height:700px;
}.header{
	width:90%;
	padding-top:15px;
	margin:0px auto;

}.header ul,li{
	display:inline;
	margin-top:10px;
}li.login-mobile {
    display: none;
}.header li{
	margin-left: 75px;
}.header-menu{
	background-color: #cc3399;
	width: 100%;
	padding:15px 0px 15px;
}
div.cart{
  position:relative;
  float:left;
  width: 30px;
  height: 30px;
  margin-right: 40px;
}
.header .cart .cart-image{
  width: 30px;
  position:absolute;
  left: 0px;
  top:0px;
}

.header .cart .count{
  width: 25px;
  height: 21px;
  border-radius:25px;
  text-align: center;
  background-color: #278CA5;
  position:absolute;
  left: 22px;
  top: -8px;
  color: white;
  vertical-align: middle;
  padding-top: 4px;
}
.main{
  width: 90%;
	padding-top: 10px;
	min-height:700px;
  margin: 0 auto;
}.main-header, .coming-soon-header{
	width: 83%;
  height: 30px;
	padding:15px;
  margin-top: 20px;
	margin-bottom: 20px;
}.main-header h3, .coming-soon-header h3{
  font-family: nino_helv;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: .6px;
}.logo{
	margin-left: 38px;
	margin-bottom:5px;
	width: 164px;
	margin-top: -6px;
	display: inline-block;
}.language-mobile{
  display:none;
  }.language{
	float:right;
	margin-right: 20px;
	font-family:BPG_nino;
}.language span{
	text-transform:uppercase;
	margin:5px;
	cursor:pointer;
	font-family: nino_helv;
	font-size:10pt;
}.language span.active{
	color: #fff;
}.movie-list{
	width: 100%;
}.movie-list-inner{
	width: 100%;
}.coming-soon{
	width: 100%;
}.m-item{
	display:inline-block;
	width: 240px;
	height:403px;
	/* min-width:240px; */
	/* min-height: 403px; */
	margin-right:17px;
	margin-bottom:17px;
	background:#f1f1f1;
	border-bottom:1px solid #e1e2e3;
	border-right:1px solid #e1e2e3;
}.m-item > a > img{
	width: 212px;
	height: 304px;
	margin: 15px;

}.coming-soon .m-item{
	display:inline-block;
	width: 139px;
	height:250px;
	/* min-width:139px; */
	/* min-height: 250px; */
	margin-right:15px;
	margin-bottom:17px;
	background:#f1f1f1;

}.coming-soon .m-item> a > img{
	width: 132px;
	height: 196px;
	margin: 4px;
}
.imdb_score{
	background-repeat: no-repeat;
	background-image:url(../images/bg_imdb_rating.png);
	float: right;
	margin-right:10px;
	background-position: 0px 0px;
	width: 80px;
	height: 16px;
}.imdb_score_img{
	height: 16px;
	width: 80px;
	/* display: none; */
}.coming_soon_play{
 width:25px;
 height:25px;
 background-image:url(../images/play.png);
 background-repeat:no-repeat;
 cursor:pointer;
 margin:10px auto;
 background-size: 24px 25px;
}.video-outer{
		position:fixed;
		left:0px;
		top:0px;
		width: 100%;
		height: 1700px;
		background-color: rgba(0,0,0,.95);
		z-index: 1000;
		display:none;

	}
	.video-inner img{
		margin-left:800px;
		margin-bottom: 4px;
		cursor: pointer;
	}
	.video-inner{
		margin: 100px auto;
		width: 800px;
		height: 450px;
	}

/*movie page*/
.movie-wrapper{
	width:100%;
	margin:0px auto;
}
.movie-title{
  font-family: nino_helv;
  text-transform: uppercase;
  /* line-height: 20px; */
  width: 97%;

  height: 50px;
  line-height: 60px;
  font-size: 30px;
  font-weight: 100;
  background: #f1f1f1;
  color: #070707;

  padding-left: 3%;
}.movie-box img{
  position:absolute;
  border-radius:5px;
  left: 10px;
  top:10px;
  box-shadow: 0px 0px 8px 0px #000;

}
.movie-box{margin-top: 30px;
width: 990px;
height: 563px;
position:relative;
/*background-color: #eee;*/
}.movie-description{
	width: 419px;
	/* float: right; */

	border-radius: 5px;
	 box-shadow: 0px 0px 10px 0px #000;
	position: absolute;
	right: 30px;
	 font-weight:100;
	top:30px;
	 font-family: bpg_nino_medium;
	background-color:rgba(0,0,0,.70);
	color: #fff;
	padding:20px;
}.movie-description label{
  color: #cc3399;
  }
.sessions p>a{
  cursor:pointer;
  color:#cc3399;
}
.sess-button span{
    font-family: lari;

}

.sessions p:hover > a{
  color: #fff;
}
  .sessions p:hover{
    cursor:pointer;
  background-color: #cc3399;
  color:#fff;
  }.sessions p{
  padding:4px;
  border-radius:5px;
  background-color: #eeeeee;
  width:200px;
  text-align: center;
  display:inline-block;
  margin-top:5px;
  border:1px solid #cc3399;


}
.sessions{
  width: 990px;
	margin-top:50px;
}.session-day p{
  margin-top: 1px;
  padding-left: 10px;
}
.session-day{
  cursor:pointer;
  margin-top: 20px;
	display:inline-block;
	width: 195px;
  height:290px;
  background-image:url(../images/list_bg.png);
  vertical-align:top;
	margin-bottom:20px;
}.session-day >p>a>span{
	font-family:lari;
	font-size: 10pt;
}.session-day >h4{
  padding:10px;
  text-align: center;
  color: #cc3399;
  /* padding-left: 20px; */
  background-color: rgba(120, 161, 207, 1);
  margin-bottom: 10px;
  font-family: nino_helv;
  text-transform: uppercase;
}.session-day >p{
	text-transform: uppercase;
	color:#000;

}.session-day >p>a{
	cursor:pointer;
	color:#000;

}.session-day >p>a:hover{

	color:#aa208d;
}
.session-day img{
  width: 100%;
}
.login  h3{
  width: 250px;
}
.login-form-inner > div > form > input[type=submit] {
  -webkit-appearance:none;
  border-radius: 4px;
  background-color: #cc3399;
  width: 480px;
  color:  #fff;
  font-family: nino_helv;
  height: 35px;
  font-size: 15pt;
  border-radius: 4px;
  line-height: 6px;
  padding-top: 7px;
  cursor:pointer;
  border: 0px solid white;
  margin-top: 10px;
}

.login-form-inner .submit-register {
    -webkit-appearance: none;
    border-radius: 4px;
    background-color: #cc3399;
    width: 480px;
    color: #fff;
    font-family: nino_helv;
    height: 35px;
    font-size: 15pt;
    border-radius: 4px;
    line-height: 6px;
    padding-top: 7px;
    cursor: pointer;
    border: 0px solid white;
}
.reg_container {
    height: 0px;
    transition: height .7s;
    overflow: hidden;
}
form.login {
    margin-bottom: 15px;
}
form.login .forgot_password:hover{
  color:#cc3399;

}
.change_password{
  display:none;
}
form.login .forgot_password{
  float:right;
  color: #333;
  vertical-align: top;
  margin-top: -25px;
  margin-bottom:10px;
  cursor:pointer;
  font-family:nino_helv;

}
.logo-svg{
  cursor:pointer;
}
.registration_toggle{
  -webkit-appearance:none;
  border-radius: 4px;
  background-color: #cc3399;
  width: 480px;
  color:  #fff;
  font-family: nino_helv;
  height: 35px;
  font-size: 15pt;
  border-radius: 4px;
  line-height: 6px;
  padding-top: 7px;
  cursor:pointer;
  border: 0px solid white;

}

.user{
	vertical-align:top;
	float:right;
	margin-top: -62px;
	margin-right: 1px;
	width: 457px;
	text-align: right;
}.login-button {
    width: 112px;
    height: 38px;
    text-align: center;
    font-size: 13pt;
    -webkit-appearance: textfield;
    padding: 1px;
    background-color: white;
    border: 2px inset;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: pointer;
    border: 1px solid #444;
    border-radius: 0px;
    font-family: nino_helv;
    line-height: 40px;
    text-transform: uppercase;
    border-radius:3px;
}.user span{
	cursor:pointer;

}.user > form > label {
    margin-right: 17px;
    font-family: nino_helv;
}.login-form{
		position:fixed;
		left:0px;
		top:0px;
		width: 100%;
		min-height: 17000px;
		background-color: rgba(0,0,0,.90);
		z-index: 1000;
		display:none;

}.login-form-inner h3 {
  color: black;
  font-size:  20pt;
  margin-top: 6px;
  font-family: nino_helv;
  text-transform: uppercase;
}.login-form-inner > div > form > input {
    width: 465px;
    height: 23px;
    font-size: 13pt;
    margin-top: 6px;
    padding-left: 15px;
    border: 1px solid #e0bbd3;
    border-radius: 4px;
    font-family: nino_helv;
    line-height: 28px;
}
.change_password_form{
  display:none;
}
#form-button{
  -webkit-appearance:none;
  border-radius: 4px;
  background-color: #cc3399;
  width: 483px;
  color:  #fff;
  font-family: nino_helv;
  height: 35px;
  font-size: 15pt;
  border-radius: 4px;
  line-height: 6px;
  padding-top: 7px;
  cursor:pointer;
  border: 0px solid white;
}

.login-form-inner{
		color: white;
		margin: 60px auto;
		width: 480px;
		height: auto;

		/* margin: 100px auto; */
		background-color: white;
		background-clip: padding-box;
		border-radius: 6px;
		padding: 20px;
}.hall-wrapper{
  visibility: hidden;
	width:990px;
}.hall{
	 margin-top: 30px;
	position:relative;
	width: 96%;
	height: 0%;

	float:left;
}.seat {
	/*width: 33px !important;
	height: 33px;*/
	border-radius:3px;
	line-height: 23px;
	text-align: center;

	border: 1px solid #aa208d;
	background: #fff;
	cursor:pointer;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}.seat >div{
	font-size: 10pt;
}.blocked{
  background-color: green;
  pointer:default;
}
.std{
  background-color: #ac2f90;
  background-color: #fff;
    cursor:pointer;
}
.std:hover{
   background-color: #ededed;
}
.sta{
    background-color: #b7b7b7;
    cursor:pointer;
}
.sta:hover{
    background-color: #888;
}
.eco{
    background-color: #6988a2;
    cursor:pointer;
}
.eco:hover{
    background-color: #888;
}
.vip{
    background-color: #a2c1dc;
    cursor:pointer;
}
.vip:hover{
    background-color: #888;
}
.reserved{
    background-color: black;
    cursor:pointer;
}
.reserved:hover{
    background-color: #888;
}
.occupied{
    background-color: red;
    cursor:default;
}

.sold{
    background-color: red;
    cursor:default;
}
.selected{
    color: black;
    background-color: #f1e903;
    cursor:pointer;
    z-index: 0;
}
.selected > .inner{
    color: black;
    font-weight:bold;
    font-size: 8pt;
    cursor:pointer;
    padding:0px;
}
.occupied{
    background-color: red;
    cursor:default;
}#tabs{
	margin-top:20px;
	width: 990px;
}#tabs > div{
	min-height:0px;
  overflow:hidden;
  height:0px;
}#tabs > ul > li > a{
	font-family: nino_helv;
	text-transform: uppercase;
	font-weight: bold;
}.sess_variables{
	float:left;
	width: 300px;
}.sess_controls{
	float:right;
	width: 370px;
	font-family: bpg_nino;
}.sess_controls >div.buy{
	float:left;
	width: 90px;
	padding:7px;
  border: 1px #fff solid;
	font-size:12pt;
	font-family: nino_helv;
	background-color: #cc3399;
	text-align: center;
	color: #fff;
	cursor: pointer;
	/* border: 1px #444 solid; */

	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}.sess_controls >div.book{
	 float:left;
	width: 90px;
	padding:7px;
  border: 1px #fff solid;
	font-size:12pt;
	font-family: bpg_nino;
	background-color: #eeeeee;
	font-family: nino_helv;
	cursor: pointer;
	text-align: center;
	/* border: 1px #444 solid; */
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}.sess_controls >div.buy:hover, .sess_controls >div.book:hover {
  border: 1px #000 solid;
  transition: border .5s;
}
.sess_variables div> strong{
	font-size: 12pt;
}.sess_variables h2{
	font-family: BPG_nino_bold;
	margin-bottom: 10px;
	font-weight: 400;
	text-transform: uppercase;
}
.sess-info-wrapper{
  width: 300px;
}
.sess-info{
	 vertical-align:top;

	 font-size: 13pt;
	display:inline-block;
	margin-right:10px;
	padding-top: 0px;
	padding-left: 27px;

	 width: 109px;
	height:30px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	 font-family: nino_helv;
	 line-height: 27px;
}
.go_button{
  width: 80px;
  height:80px;
  margin-left: 20px;
  border-radius:4px;
  border: 1px solid #cc3399;
  /* box-shadow: 0px 0px 2px 0px #444; */
  background-color: #fff;
  margin-bottom: 20px;
}
  .go_button:hover{
    background-color: #cc3399;
    box-shadow: 0px 0px 4px 0px #333;
    color: #fff;
    cursor:pointer;

  }
.total{
  font-family: nino_helv;
  font-size: 17pt;
}
.text-total{
  font-family: nino_helv;
  font-size: 17pt;
}
.icon-hall{
	background-image:url(../images/hall.png);

}
.icon-lang{
	background-image:url(../images/language.png);

}
.icon-date{
	background-image:url(../images/date.png);

}
.icon-time{
	background-image:url(../images/time.png);
}
.main-left{
  width: 80%;
}
/* sessions page*/
.movie-sessions-section .session-day > p > a:hover{
  color: #cc3399;
  background-color: #fff;


}
.movie-sessions-section .session-day > p > a{
  color: #EEF;
  margin-left: 10px;
  line-height: 10px;
}.movie-sessions-section .session-day:hover{
  background-color: rgba(0,0,0,.65);
}
.movie-sessions-section .session-day{
	 margin-left: 40px;
	 margin-top: 20px;
	 display:inline-block;
	 width: 195px;
	 height: 215px;
	 color: #eee;
	  vertical-align:top;
	 margin-bottom:20px;
	 background-color: rgba(0,0,0,.05);
	  transition: background-color 1s;
	   -webkit-transition: background-color 1s;
	   -o-transition: background-color 1s;
	   -moz-transition: background-color 1s;
}
.movie-sessions-section{

  background-repeat: no-repeat;
  background-position: 0px 81px;

  height: 580px;
width:990px;
  /* border-bottom: #cc3399 6px solid; */
}
.movie-sessions-section h1{
  height: 40px;
  font-family: nino_helv;
  font-weight:700;
  text-transform: uppercase;
  line-height: 50px;
  /* background-image: url(../images/header_bg.png); */
  background-color: rgba(155, 155, 155, 0.11);
  padding: 20px 20px;
  color: black;

  /* border-bottom: 6px solid #cc3399; */
}


/*


*/
/*  cavea buy booked in profile*/
			@font-face {
				font-family: bpg-caps;
				src: url(../fonts/bpg_banner_extrasquare_caps.ttf);
			}
			.cav-outer{
				display:none;
				position: fixed;
				left: 0px;
				top: 0px;
				width: 100%;
				height: 1200px;
				background-color: rgba(0,0,0,.95);
				color: #000;
			}
			.cav-inner h3{
				margin-left: 40px;
				font-size:18pt;
			}
			.cav-inner{
				overflow: hidden;
				width:700px;
				height:auto;
				padding-bottom:30px;
				font-family:bpg-caps;
				background-color: #fff;
				margin: 50px auto;
				border-radius: 10px;
				background-image:url(../images/caveaaa2.png);
			    background-repeat: no-repeat;
			    background-position: 20px 23px;
			    background-size: 67px 80px;
			    padding-top: 15px;
			}
      .cav-notification > div{
        width: 80%;
      }
			.cav-notification{
				background-image:url(../images/warning.png);
			    background-repeat: no-repeat;
			    background-position: 95% 25px;
			    background-size: 45px 45px;

				width: 79%;

				height: 52px;
			    background-color: #cc3399;
			    margin-left: 17%;
			    color: #000;
			    border-top-left-radius: 10px;
			    border-bottom-left-radius: 10px;
			    padding: 15px;
			    padding-top: 25px;
			    color: #fff;
			    font-size: 12pt;
			    font-family:bpg-caps;
			 }
			 .cav-table{
					color: #000;
					margin-top:20px;
					margin-left: 40px;
					width: 90%;
			}
			.cav-table table{
				width: 100%;
				border-bottom:2px solid  #cc3399;
			}
			.cav-table th{
				background-color: #cc3399;
				color: #fff;
			}
			.cav-table td{
				width: 33%;
				text-align:center;

			}
			.cav-description{
					margin: 8px 0px 0px 40px;

			}
			.cav-description span{
				font-weight: 400px;
			}
			.cav-inputs{
			    margin-top: 20px;
			    margin-left: 41%;
			}
			.cav-inputs input{
				width: 140px;
				height: 40px;
				background-color: #cc3399;
				color: #fff;
				border: 0px solid #fff;
				margin-left: 30px;
				font-family:bpg-caps;
				font-size: 14pt;
				cursor:pointer;
			}
			.cav-total{
				width: 200px;
				margin-left: 73%;
				margin-top: 20px;
				margin-bottom: 20px;

				color: #000;
				font-size: 14pt;
			}
      .main td{
        font-family: nino_helv;

      }
      .table-prof {
            width: 740px;
            position: static;
        }

        .head-tr {
            padding: 4px;
            margin: 0;
            text-align: left;
            font-weight: bold;
        }
        .head-tr td {
            text-align: left;
        }
        .p-date{
          text-align:center;
          min-width: 50px;
          width: 100px;
        }
        .p-lang{
          text-align:center;
          width: 20px;
        }
        .p-count{
          text-align:center;
          width: 20px;
        }
        .p-total{
          text-align:center;
          }
          .p-pin{
            text-align:center;
            width: 20px;
          }
          .p-buy{
            text-align:center;
            width: 20px;
            padding:0px;
          }
          .p-buy button{
            padding:3px;
            border: 0px solid;
            border-radius: 4px;
            background-color: white;
            cursor:pointer;
            font-size: 12pt;
            font-family: nino_helv;

          }
        .p-time{
          text-align:center;
          min-width: 50px;
          width: 30px;
        }
        .head-table2 {
            background: #cc3399;
            color: #fff;
        }
        .head-table2 td{
          text-align: center;
          padding:3px;
          font-size: 10pt;
          line-height: 20px;
        }
        .table-row td{
          padding:5px;
        }
        .head-table2 td:first-child {

            border-bottom-left-radius: 6px !important;
            border-top-left-radius: 6px !important;
        }
        .head-table2 td:last-child {

            border-bottom-right-radius: 6px !important;
            border-top-right-radius: 6px !important;
        }

        .table-row {
            background: #e5e5e5;
            color: #555555;
        }

        .table-row td:first-child {

            border-bottom-left-radius: 6px !important;
            border-top-left-radius: 6px !important;
        }
        .table-row td:last-child {

            border-bottom-right-radius: 6px !important;
            border-top-right-radius: 6px !important;
        }

        .buy-button {
            border-radius: 6px;
            padding:4px;
            background: #cc3399;
            font-weight: bold;
            color: #fff;

        }

        .view-button {
            border-radius: 6px;
            padding:6px;
            background: #cc3399;
            font-weight: bold;
            color: #fff;
        }
        .param-block {
            float:right;
            width: 250px;
            color: #555555;
            font-weight: bold;
        }
        .param-header {
            padding: 6px;
            border-bottom: #dbdbdb 2px solid;
        }
        .param-body p{
            padding:4px;
        }
        .param-body a{
            text-decoration: none;
            color: #cc3399;
            font-weight: bold;
            float: right;
        }
        .param-body a:hover {
            text-decoration: underline;
        }

@media only screen and (max-width: 667px) and (min-width: 375px) {
  .main-header, .coming-soon-header{
    font-family: bpg_nino;
  }
  .header-menu {
    background-color: #cc3399;
    width: 96%;
    padding: 17px 0px 9px;
  }
  .page{
    width: 100%;
  }
  .main{
    margin: 0;
  }
  .m-item{
    width: 28%;
    height: auto;
    margin-right: 4px;
    margin-left: 12px;
    margin-bottom: 20px;
    vertical-align: top;
}

  .m-item > a >img{
    width: 92%;
    height: auto;
}.user > form > label {
    display:none;
}
  .coming-soon .m-item{
    width: 83px;
    height: 170px;
    margin-left: 8px;
    margin-right: -2px;
  }
  .coming-soon .m-item >a>img {
    width: 92%;
    height: auto;
  }
  .main-left{
    padding:0px;
    width:100%;
  }
  .header{
    width: 100%;
  }
  .main-header{
    font-size: 13pt;
	width: 90%;
  }
  .user{
  	vertical-align:top;
  	float:right;
  	margin-top: -73px;
  	margin-right: 25px;
  }
  .login-button {
      width: 89px;
      height: 41px;
      text-align: center;
      font-size: 12pt;
  }
  .tabs{
    width: 100%;
  }
  .logo img {
    width: 184px;
  }.header-menu{
    display:none;
    position:fixed;
    top: 80px;
    left: 7px;
    width: 95%;
    border-radius: 3px;
  }.user{
    display:none;
  }
  .header{
    position:fixed;
    left:0px;
    top:0px;
    z-index: 10000;
    height: 63px;
    background-color: white;
    box-shadow: #000 0px 0px 25px -5px;
  }
  .header-menu:after {
    content: '';
    display: block;
    position: absolute;
    top: -34px;
    left: 4px;
    width: 0;
    height: 0;
    border-color: transparent transparent #cc3399  transparent ;
    border-style: solid;
    border-width: 20px;
  }.header-menu ul li{
    display:block;
  }
  .language{
    display:none;
  }.language-mobile{
    display:block;
    float:right;
    margin-top: -29px;
    margin-right: -1px;
    font-family:BPG_nino;
    font-size: 14pt;
  }.language-mobile span{
	  text-transform:uppercase;
	  margin:5px;
	  cursor:pointer;
  }.language-mobile span.active{
	  color: rgb(142, 139, 139);
  }
  .header-menu a {
    font-size: 20pt;
  }.menu-button {
	  margin-left: 10px;
	  margin-right:10px;
	  background-size: 40px 40px;
    width: 40px;
    height: 40px;
    margin-top: 0px;
	  display: inline-block;
    vertical-align: top;
	  background-image: url(../images/menu.png);
	  margin-top: 4px;
  }
  .main {
    width: 100%;
    margin-top: 69px;
  }
  .movie-wrapper{
    width: 96%;
    padding: 2%;
  }
  .movie-box{
    width:100%;
  }
  .movie-box img{
    width: 30%;
  }
  .movie-description {
    width: 93%;
    float:none;
  }
  .sessions {
    width: 99%;
    margin-top: 30px;
  }

  .sessions>div>a>p>span {
    font-family: lari;
    font-size: 20pt;
  }
  #tabs {
    margin-top: 20px;
    width: 98%;
  }
  .movie-title{
    width: 96%;
  }
  .hall-wrapper {
  width: 100%;
}
  .hall {
    position: relative;
    width: 108%;
    height: 0px;
    float: left;

    margin-left: -20px;
    margin-top: 30px;
}
  .hall .seat>div{
    font-size: 10px;
    line-height: 5px;
  }
  .ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 0em 0em;
  background: none;
}
  .seat >div {
    font-size: 20pt;
    padding-top:7px;
  }
  .ui-tabs .ui-tabs-panel {
  	display: block;
  	border-width: 0;
  	padding: 6px 1px;
  	background: none;
	}
  .sess_controls {
  float: right;
  width: 220px;
}

}

@media only screen and (max-width: 375px) {
  .main-header, .coming-soon-header{
    font-family: bpg_nino;
  }
  .header-menu {
    background-color: #cc3399;
    width: 96%;
    padding: 17px 0px 9px;
  }
  .page{
    width: 100%;
  }
  .main{
    margin: 0;
  }
  .m-item{
    width: 28%;
    height: auto;
    margin-right: 4px;
    margin-left: 12px;
    margin-bottom: 20px;
    vertical-align: top;
}

  .m-item > a >img{
    width: 92%;
    height: auto;
}.user > form > label {
    display:none;
}
  .coming-soon .m-item{
    width: 83px;
    height: 170px;
    margin-left: 8px;
    margin-right: -2px;
  }
  .coming-soon .m-item >a>img {
    width: 92%;
    height: auto;
  }
  .main-left{
    padding:0px;
    width:100%;
  }
  .header{
    width: 100%;
  }
  .main-header{
    font-size: 13pt;
	width: 90%;
  }
  .user{
  	vertical-align:top;
  	float:right;
  	margin-top: -73px;
  	margin-right: 25px;
  }
  .login-button {
      width: 89px;
      height: 41px;
      text-align: center;
      font-size: 12pt;
  }
  .tabs{
    width: 100%;
  }
  .logo img {
    width: 184px;
  }.header-menu{
    display:none;
    position:fixed;
    top: 80px;
    left: 7px;
    width: 95%;
    border-radius: 3px;
  }.user{
    display:none;
  }
  .header{
    position:fixed;
    left:0px;
    top:0px;
    z-index: 10000;
    height: 63px;
    background-color: white;
    box-shadow: #000 0px 0px 25px -5px;
  }
  .header-menu:after {
    content: '';
    display: block;
    position: absolute;
    top: -34px;
    left: 4px;
    width: 0;
    height: 0;
    border-color: transparent transparent #cc3399  transparent ;
    border-style: solid;
    border-width: 20px;
  }.header-menu ul li{
    display:block;
  }
  .language{
    display:none;
  }.language-mobile{
    display:block;
    float:right;
    margin-top: -29px;
    margin-right: -1px;
    font-family:BPG_nino;
    font-size: 14pt;
  }.language-mobile span{
	  text-transform:uppercase;
	  margin:5px;
	  cursor:pointer;
  }.language-mobile span.active{
	  color: rgb(142, 139, 139);
  }
  .header-menu a {
    font-size: 20pt;
  }.menu-button {
	  margin-left: 10px;
	  margin-right:10px;
	  background-size: 40px 40px;
    width: 40px;
    height: 40px;
    margin-top: 0px;
	  display: inline-block;
    vertical-align: top;
	  background-image: url(../images/menu.png);
	  margin-top: 4px;
  }
  .main {
    width: 100%;
    margin-top: 69px;
  }
  .movie-wrapper{
    width: 96%;
    padding: 1%;
  }
  .movie-box{
    width: 100%;

    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #cc3399;
}
  .movie-box img{
    width: 30%;
  }
  .movie-description {
    width: 100%;
    float:none;
  }
  .sessions {
    /* margin-top: 30px; */
    width: 100%;
    /* margin-top: 30px; */
  }

  .sessions>div>p>a>span {
    font-family: lari;
    font-size: 20pt;
  }
  #tabs {
    margin-top: 20px;
    width: -33%;
  }
  .movie-title{
    width: 102%;
  }
  .hall-wrapper {
  width: 100%;
}
  .hall {
    position: relative;
    width: 115%;
    height: 0px;
    float: left;

    margin-left: -22px;
}
  .hall .seat>div{
    font-size: 10px;
    line-height: 5px;
  }
  .ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 0em 0em;
  background: none;
}
  .seat >div {
    font-size: 20pt;
    padding-top:7px;
  }
  .sess_controls {
    float: left;
    width: 220px;
    margin: 10px -10px 10px 0px;
  }
  .sess_controls button{
    width:320px;
    margin: 10px 0px 10px 0px;

}
  .ui-tabs .ui-tabs-panel {
  	display: block;
  	border-width: 0;
  	padding: 6px 1px;
  	background: none;
	}


}
