{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}

{% block title %} <title>Session Page | ERP Rustaveli</title> {% endblock %}
{% block js_ %}

<script>
$(function(){
    if($("#text").html().length>0){
        var option = document.createElement("option");
        var text = document.createTextNode("{{created_cat.name}}");
        $(option).append(text);
        option.id = "{{created_cat.id}}";
        $(option).val("{{created_cat.id}}");
        $(option).attr("selected", "selected");
        window.opener.$("#children").append(option);
        window.close()
    }
    });

</script>
<style>


    .main{
        min-height: 600px;
    }
    .ui-menu { width: 150px; font-size: 10pt;}


</style>
{% endblock %}

{% block header %}
  		<header>
			{% if user%}
	  		<button onclick="logout()" > Logout</button>
			{% endif %}

      		<nav>
      		</nav>
    	</header>
    	{% endblock %}

{% block main%}
<div id="text">{{text}}</div>
{% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
<form method="POST" action="" >

<table>
    {{form.as_table}}
    <tr>
        <td>Products:</td>
        <td><select multiple name="products">
            {% for product in products%}
                <option value="{{product.pk}}">{{product.name}}</option>
            {% endfor%}
        </select></td>
    </tr>
    <tr>
        <td>Children</td>
        <td><select multiple name="children">
            {% for category in categories%}
                {% if category.name != "root"%}
                <option value="{{category.pk}}">{{category.name}}</option>
                {% endif%}
            {% endfor%}
        </select></td>
    </tr>
    <tr>
        <td>Parent</td>
        <td><select name="parent">
            <option value="none">None</option>
            {% for category in categories%}
                <option value="{{category.pk}}">{{category.name}}</option>
            {% endfor%}
        </select></td>
    </tr>

</table>
    {% csrf_token %}
    <input type="submit" value="submit">
</form>



{% endblock %}