{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}

{% block title %} <title>Session Page | ERP Rustaveli</title> {% endblock %}
{% block js_ %}

<script>
var children = Array();
var products = Array();
var parent = "{{parent.pk}}";


{% for child in children%}
    children.push("{{child.id}}");
{%endfor%}

{% for product in prods %}
    products.push("{{product}}");
{%endfor%}


$(document).ready(function(){


    for(x in children){
        $("#"+children[x]).attr("selected", "selected");
    }
    for(x in products){
        $("#"+products[x]).attr("selected", "selected");
    }
    $("#parent"+parent).attr("selected", "selected");
});

function popup(elem){
    var width, height, name;
    if(elem=="cat"){
        url = "http://{{url}}/bar/category/create/";
        width = 450;
        height = 350;
        name = "create_cat";
    }else if(elem=="prod"){
        url = "http://{{url}}/bar/product/create/";
        width = 650;
        height= 550;
        name = "create_prod";
    }
    newwindow = window.open(url, name, "width="+width+",height="+height);
    if (window.focus) {newwindow.focus()}
    return false;
}
</script>
<style>
    #children{
        width: 150px;
        height:150px;
    }
    #products{
        width: 150px;
        height:150px;
    }

    .main{
        min-height: 600px;
    }
    .ui-menu { width: 150px; font-size: 10pt;}


</style>
{% endblock %}

{% block header %}
  		<header>
			{% if user%}
	  		<button onclick="logout()" > Logout</button>
			{% endif %}

      		<nav>
      		</nav>
    	</header>
    	{% endblock %}

{% block main%}

<div id="text">{{text}}</div>
{% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
<form method="POST" action="" enctype="multipart/form-data">

    <table>

    {{form.as_table}}
</table>
    {% csrf_token %}
    <input type="submit" value="submit">
</form>



{% endblock %}