body{
    	font-family:"Century Gothic";
    }
    center{
    	height: 25px;
    }
    	ul li{
    		list-style:none;
    		height: 25px;
    	}
    	li{ list-stye:none;}
    	
    	.seat:hover{
    		
    	}
    	.seat{
    		display: inline-block; 
    		width: 25px; 
    		height:25px; 
    		border:solid 1px;
    	    
    	    border-radius:2px;
    	}
    	.seat_{
    		display: inline-block; 
    		width: 25px; 
    		height:25px; 
    		border:solid 1px #eeeeee;;
    		
    	    
    	    
    	}
    	.seat_title{
    		float:left;
    		margin-left: 50px;
    		display: inline-block; 
    		width: 25px; 
    		height:25px; 
    		border:solid 1px;
    	    cursor:pointer;
    	    vertical-align:middle;
    	    
    	}
    	.seat_title_right{
    		float:right;
    		margin-right: 50px;
    		display: inline-block; 
    		width: 25px; 
    		height:25px; 
    		border:solid 1px;
    	    cursor:pointer;
    	    vertical-align:middle;
    	    
    	}
    		
    	
    	.std{
    		background-color: #368dd7;
    	}
    	.std:hover{
    		background-color: #888;
    	}
    	.sta{
    		background-color: #0a6abc;
    	}
    	.sta:hover{
    		background-color: #888;
    	}
    	.eco{
    		background-color: #6988a2;
    	}
    	.eco:hover{
    		background-color: #888;
    	}
    	.vip{
    		background-color: #a2c1dc;
    	}
    	.vip:hover{
    		background-color: #888;
    	}
    	.reserved{
    		background-color: black;
    		cursor:pointer;
    	}
    	.reserved:hover{
    		background-color: #888;
    	}
    	.occupied{
    		background-color: red;
    		cursor:default;
    	}
    	.caption_hall{
    		padding: 10px;
    	    background-color: #8bb1de;
    		font-size: 20pt;
    		margin-bottom: 30px;	
    	}
    	#seat_types li {
    		vertical-align: middle;
    		margin-top: 4px;
    		padding-bottom: 5px;
    	}
    	#seat_types label{
    		margin: 4px;
    	}
    	#seat_types {
    		position:fixed;
    		right: 120px;
    		top: 100px;
    	}
    	.inner{
    		color: #fff;
    		font-size: 8pt;
    		margin-top: 5px;
    		font-family:"Century Gothic";
    	}
.main{
	margin: auto 0;
	width: 800px;
}


#r5s17 {
	float: right;
	margin-left: 4px;
	
}
#r5s18 {
	float: right;
	margin-left: 4px;
}
#r6s17 {
	float: right;
	margin-left: 4px;
}
#r6s18 {
	float: right;
	margin-left: 4px;
}
#r7s17 {
	float: right;
	margin-left: 4px;
}
#r7s18 {
	float: right;
	margin-left: 4px;
}
#r8s17 {
	float: right;
	margin-left: 4px;
}
#r8s18 {
	float: right;
	margin-left: 4px;
}
#r9s17 {
	float: right;
	margin-left: 4px;
}
#r9s18 {
	float: right;
	margin-left: 4px;
}

.seat_{
	float: right;
	margin-left: 4px;
}
