.std{
	background-color: #368dd7;
    cursor:pointer;
}
.std:hover{
   background-color: #888;
}
.sta{
    background-color: #0a6abc;
    cursor:pointer;
}
.sta:hover{
    background-color: #888;
}
.eco{
    background-color: #6988a2;
    cursor:pointer;
}
.eco:hover{
    background-color: #888;
}
.vip{
    background-color: #a2c1dc;
    cursor:pointer;
}
.vip:hover{
    background-color: #888;
}
.reserved{
    background-color: black;
    cursor:pointer;
}
.reserved:hover{
    background-color: #888;
}
.occupied{
    background-color: red;
    cursor:default;
}
    	
.sold{
    background-color: red;
    cursor:default;
}
.selected{
    color: black;
    background-color: #ccc;
	cursor:pointer;
}
.selected > .inner{
    color: black;
    font-weight:bold;
    font-size: 8pt;
    cursor:pointer;
    padding:0px;
}
.occupied{
    background-color: red;
    cursor:default;
}
.transactions{
	position:fixed;
	left: 400px;
	top: 0px;
	width: 300px;
	height: 40px;
	padding:10px;
	background-color: rgba(0,0,0,.5);
}    	
.caption{
	width: 230px;
	height:30px;
    position:fixed;
    right: 200px;
    top: 00px;
    font-size: 20pt;
    background-color: rgba(0,0,0,.5);
    color: white;
    padding:2px;
}

.seat__{
	display: inline-block; 
    padding:4px; 
    border:solid 1px #eeeeee;
    width: 60px;
   	font-size: 9pt;
   	color: white;
}
.reserved_{
	background-color: black;
}
.sold_{
	background-color: red;
}
.li_empty{
	background-color: white;
}
#seat_types li {
    vertical-align: middle;
    margin-top: 4px;
    padding-bottom: 5px;
    background-color: #555;
}
#seat_types label{
    margin: 4px;
    color: #fff;
    width: 10px;
}
.sold:hover{
	
}
