body {
	background-color: #eeeeee;	
}

.fill_li{
	text-decoration:none;
	cursor:pointer;
	list-style:none;
}


.search_table td{
	width:auto;
	padding-left: 10px;
	padding-right:10px;
	text-align:right;
}
.search_table th{
	text-align:right;
	width:auto;
	border-bottom: 1px solid #000000;
}
.search_table td > span{

}
.search_table td.date{
width:auto;
	
}