<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
		<title>{{title}}</title>
		<meta name="description" content="">
		<meta name="author" content="Giorgi Areshidze">


		<link rel="shortcut icon" href="" />
		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="{{url}}/../static/cavea/images/icon.png">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="stylesheet" href="/static/cavea/css/styles.css" type="text/css">
		<link rel="stylesheet" href="/static/cavea/css/jquery.ui.css" type="text/css">
		<script src="/static/js/jquery.1.11.3.js" type="text/javascript"></script>
		<script src="/static/js/jquery-ui.js" type="text/javascript"></script>
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

		<script>
			$(document).ready(function(){
					//alert(screen.width + "   "+ screen.height);
			});
			function show_login_form(){
				$(".login-form").css("display", "block");
			}
			function change_language(variable, id){
				$.post("{{url}}/../cavea/change_language/", {variable:variable,lang:id}, function(data){
						window.location = window.location.href;
					});
			}


		</script>
	</head>
