{% load cavea_tags %}
<script>
	var temp_html;
	var username = "{{username}}";
	var lang = "{{lang}}";
	$(document).ready(function(){


		if(username.length>0){

			$("#username").val(username);
			$(".login-form").css("display", "block");
		}
		if (lang=="eng"){
			//$(".header-menu a").css("font-family","BPG_nino");

			$(".header-menu a").css("text-transform","uppercase");
			$(".header-menu a").css("font-weight",100);
		}
	});
	function submit_password_change(){
		var error = new Array();
		var username = $("#username").val();
		var re = /^[^@ ]+@[^@ ]+\.[^@ ]+$/;
		if(!re.test(username)){
			error.push("{{translations.email_format_error|translate:lang}}");
		}else{

			$.post("{{url}}/generate_password_change_access_for_user/", {username:username}, function(data){
				if(data=="no user"){

				}else if(data=="done"){
					window.location = "{{url}}";
				}
			});
		}
		if(error.length){
			console.log(error);
		}
	}

	function show_login_form_(){
		$("form.login").html(temp_html);
		$(".registration_toggle").css("display", "block");
		$("form.login").attr("action", "/cavea/login_user/");
	}
	function show_forgot_password_form(){
	  temp_html = $("form.login").html();
		console.log(temp_html);
		$("form.login").html($(".change_password").html());
		$(".registration_toggle").css("display", "none");
		$("form.login").attr("action", "");
	}

	function show_register(event){
		$(".reg_container").css("height", "300px");
		$(event.target).css("display", "none");
	}
	function close_form(){
		$(".login-form").css("display", "none");
		$(".reg_container").css("height", "0px");
		$(".registration_toggle").css("display", "block");
	}
	function register(){
		var error = new Array();
		var first_name = $("#first_name").val();


		var last_name = $("#last_name").val();
		var mobile = $("#mobile").val();
		var user_email = $("#user_email").val();
		var password = $("#password").val();
		var confirm_password = $("#confirm_password").val();
		$("#username_register").val(user_email);
		if(!first_name.length){
			error.push("{{translations.first_name_is_required|translate:lang}}");
		}
		if(!last_name.length){
			error.push("{{translations.last_name_is_required|translate:lang}}");
		}
		if(!mobile.length){
			error.push("{{translations.mobile_is_required|translate:lang}}");
		}
		if(!user_email.length){
			error.push("{{translations.email_is_required|translate:lang}}");
		}
		if(!password.length){
			error.push("{{translations.password_is_required|translate:lang}}");
		}
		if(!confirm_password.length){
			error.push("{{translations.confirm_password_is_required|translate:lang}}");
		}
		var re = /^[^@ ]+@[^@ ]+\.[^@ ]+$/;
		if(!re.test(user_email)){
			error.push("{{translations.email_format_error|translate:lang}}");
		}
		if(password!=confirm_password){
			error.push("{{translations.passwords_dont_match|translate:lang}}");
		}
		if(password.length<6){
			error.push("{{translations.password_is_short|translate:lang}}");
		}


		if(error.length>0){
				alert(error);
		}else{
				//post_register_data(serialize());
				var data = {};
				var postData = $('form.register').serializeArray();
				for (var key in data) {
    			if (data.hasOwnProperty(key)) {
        		postData.push({name:key, value:data[key]});
    			}
				}
				$.post("{{url}}/register_cavea/", postData, function(data_){
					if(data_=="done"){
						$("#username").val($("#user_email").val());
						$("#password_login").val($("#password").val());
						$(".login").submit();
					}else{
						alert(data_);
					}
				});
				console.log(first_name + "  "+ last_name + " "+ mobile + "  "+ user_email+ "  "+ password + "  "+ confirm_password);
		}

	}
	function toggle_menu(){
		var dsp = $(".header-menu").css("display");
		if(dsp=="none"){
			$(".header-menu").css("display", "block");

		}else{
			$(".header-menu").css("display", "none");
		}
	}
</script>
<div class="header">
	<div>
	<div class="menu-button" onclick="toggle_menu();">
	</div>
	<div class="logo">
		<img class="logo-svg" src="{{url}}/../static/cavea/images/logo.svg" type="image/svg+xml" onclick="window.location='/cavea/'"></img>
		<!--<a href="{{url}}">
			<img src="{{url}}/../static/cavea/images/logo.png"/>
		</a>-->
	</div>
</div>
<div class="language-mobile">

	{% if lang == "eng" %}
		<span class="active" id="geo" onclick="change_language('lang',id)">geo</span>|<span>eng</span>
		{% else %}
		<span>geo</span>|<span class="active"  id="eng" onclick="change_language('lang',id)">eng</span>
	{% endif%}
</div>



	<div class="user">
		{% if cart %}
		<a href="{{url}}/profile">
		<div class="cart">
			<img class="cart-image" src="{{url}}/../static/cavea/images/cart.png"/>
			<div class="count">{{cart}}</div>
		</div>
		</a>
		{% endif %}
		{% if not request.user|user_logged_in %}
		<input onclick="show_login_form()"
			value="{{translations.login|translate:lang}}" class="login-button"/>
		{% else %}
				<form action="/cavea/logout_user" method="post" class="logout">
						{% csrf_token %}
    			<label>Logged as: {{request.user}}</label>	<input type="hidden" name="url" value="{{ request.get_full_path|escape }}" />
						<input type="submit" value="{{translations.logout|translate:lang}}" class="login-button"/>
				</form>



		{% endif%}


	</div>
	<div class="header-menu">
		<ul>
			{% for p in content.pages %}
			{% if p.is_active %}
				<li>
					{% if lang == "geo" %}
						<a href="{{url}}/{{p.url}}">
							{{p.title_geo}}
						</a>
					{% else %}
						<a href="{{url}}/{{p.url}}">
							{{p.title_eng}}
						</a>
					{% endif%}
				{% endif%}
				</li>
			{% endfor%}
			<li class="login-mobile">
			<a onclick="show_login_form()">LOGIN</a>
			</li>
		</ul>
		<div class="language">
			{% if lang == "eng" %}
				<span class="active" id="geo" onclick="change_language('lang',id)">geo</span>|<span>eng</span>
				{% else %}
				<span>geo</span>|<span class="active"  id="eng" onclick="change_language('lang',id)">eng</span>
			{% endif%}
		</div>
	</div>
</div>
<div class="login-form" >

	<div class="login-form-inner">
		<img src="{{url}}/../static/cavea/images/close.png"  width="30px" onclick="close_form()" style="margin-right: -60px;margin-top:-40px;float:right;cursor:pointer;">
		<div>
			<form class="login" action="/cavea/login_user/" method="post" >
				<h3>{{translations.login|translate:lang}}</h3>
				<div class="forgot_password" onclick="show_forgot_password_form()">{{translations.forgot_password|translate:lang}}</div>
				{% csrf_token %}
				<input type="text" name="username" placeholder="{{translations.email|translate:lang}}" value="" id="username">
				<input type="password" name="password" value="" placeholder="{{translations.password|translate:lang}}" id="password_login">
				<input type="submit" value="{{translations.submit|translate:lang}}" />
    		<input type="hidden" id="next" name="next" value="{{ request.get_full_path|escape }}" />
				<input type="hidden"  name="source" value="cavea.ge" />
			</form>
			<form class="change_password" action="" method="post" >
				<h3>{{translations.change_password|translate:lang}}</h3>
				<div class="forgot_password" onclick="show_login_form_()">{{translations.login|translate:lang}}</div>
				{% csrf_token %}
				<input type="text" name="username" placeholder="{{translations.email|translate:lang}}" value="" id="username">
				<input type="button" onclick="submit_password_change()" value="{{translations.submit|translate:lang}}" id="form-button"/>
				<input type="hidden"  name="source" value="cavea.ge" />
			</form>

		</div>
		<input type="button" value="{{translations.register|translate:lang}}" onclick="show_register(event)" class="registration_toggle">
		<div class="reg_container">
			<form class="register" action="" method="post" >
				<h3>{{translations.register|translate:lang}}</h3>
				{% csrf_token %}
				<input type="text" name="first_name" placeholder="{{translations.first_name|translate:lang}}" value="" id="first_name">
				<input type="text" name="last_name" placeholder="{{translations.last_name|translate:lang}}" value="" id="last_name">
    		<input type="text" name="telephone" placeholder="{{translations.mobile|translate:lang}}" value="" id="mobile">
				<input type="text" name="user_email" placeholder="{{translations.email|translate:lang}}" value="" id="user_email">
				<input type="hidden" name="username"  value="" id="username_register">
    		<input type="password" name="password"  placeholder="{{translations.password|translate:lang}}" id="password">
				<input type="password" name="confirm_password"  placeholder="{{translations.confirm_password|translate:lang}}" id="confirm_password">
				<input type="hidden" id="next" name="next" value="{{ request.get_full_path|escape }}" />
    		<input type="button" class="submit-register" value="{{translations.submit|translate:lang}}" onclick="register()"/>
				<input type="hidden"  name="source" value="cavea.ge" />
			</form>
		</div>
	</div>
</div>
