{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}

{% block title %} <title>Session Page | ERP Rustaveli</title> {% endblock %}
{% block js %}
{% load socketio_tags %}
    {% socketio %}
    {% load jsonify %}
	<script src="/static/js/session.js"></script>
	<script src="/static/js/jquery.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	
	<script>
google.load('visualization', '1', {packages: ['corechart', 'bar']});
google.setOnLoadCallback(drawTitleSubtitle);

function drawTitleSubtitle() {
      var data = google.visualization.arrayToDataTable([
	 ['Category', 'Cash Sales', "Card Sales"],       
	{% for cat in category%}
		["{{cat.cat}}", {{cat.cash}}, {{cat.card}}],
 	{% endfor%}
      ]);

      var options = {
        chart: {
          title: 'Sales by Movie Categories',
          subtitle: ''
        },
        hAxis: {
          title: 'Total Population',
          minValue: 0,
        },
        vAxis: {
          title: 'Movie'
        },
        bars: 'horizontal'
      };
      var material = new google.charts.Bar(document.getElementById('chart_div'));
      material.draw(data, options);
    }</script>	

	 
{% endblock %}

{% block css %}
	<link type="text/css" rel="stylesheet" href="/static/css/styles.css">
	<link type="text/css" rel="stylesheet" href="/static/css/session.css"> 
{% endblock %}

{% block header %}
  <header>
	{% if user%}
	  <button onclick="logout()" > Logout</button>
	{% endif %}
      	<nav>
      	</nav>
   </header>
{% endblock %}

{% block main%}
<div class="main" style="min-height: 500px;">
<div id="chart_div" style="min-height: 400px; margin-top:40px; width: 90%;"><div>
</div>
{% endblock %}
