{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}

{% block title %} <title>Session Page | ERP Rustaveli</title> {% endblock %}
{% block js %}
{% load socketio_tags %}
    {% socketio %}
    {% load jsonify %}
	<script src="/static/js/session.js"></script>
	<script src="/static/js/jquery.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawVisualization);

function drawVisualization() {
  // Some raw data (not necessarily accurate)
  var data = google.visualization.arrayToDataTable([
    ['Month',{% for s in set %} 
	"{{s}}",
      {% endfor %}],
      {% for d in data %}
       ["{{d.per}}", 
	{% for c in d.values %}
	{{c.cash}},	
	{% endfor %}

],
      {% endfor %}

  ]);

  var options = {
    title : 'Monthly Coffee Production by Country',
    vAxis: {title: "Cups"},
    hAxis: {title: "Month"},
    seriesType: "bars",
    series: {5: {type: "line"}}
  };

  var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
  chart.draw(data, options);
}

	
		
</script>
	 
{% endblock %}

{% block css %}
	<link type="text/css" rel="stylesheet" href="/static/css/styles.css">
	<link type="text/css" rel="stylesheet" href="/static/css/session.css"> 
{% endblock %}

{% block header %}
  <header>
	{% if user%}
	  <button onclick="logout()" > Logout</button>
	{% endif %}
      	<nav>
      	</nav>
   </header>
{% endblock %}

{% block main%}
<div class="main" style="min-height: 500px;">

 <div id="chart_div" style="width: 900px; height: 500px;min-height: 400px; margin-top:40px; width: 90%;"></div>

</div>
{% endblock %}
