{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}

{% block title %} <title>Session Page | ERP Rustaveli</title> {% endblock %}
{% block js %}
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>

var lookup = "{{lookup}}";

$(function() {
	$( "#datepicker_from" ).datepicker();
	$( "#datepicker_to" ).datepicker();

	$( "#datepicker_from" ).val("{{from_dj}}");
        $( "#datepicker_to" ).val("{{to_dj}}");
});

function filter_data(){
	var from = $("#datepicker_from").val().split("/");
    var to = $("#datepicker_to").val().split("/");
	window.location = "http://localhost:8000/getticketsalesorders?from="+from[1]+"/"+from[0]+"/"+from[2]+"&to="+to[1]+"/"+to[0]+"/"+to[2]+"&lookup="+lookup;
}

function format_date(day,month,year){
    var day_ = day<10 ? "0"+day: day;
    var month_ = month<10 ? "0"+month: month;
    return day_+"/"+month_+"/"+year;
}

function format_date_for_django(day,month,year){
    var day_ = day<10 ? "0"+day: day;
    var month_ = month<10 ? "0"+month: month;
    return year+"/"+month_+"/"+day_;
}

google.load('visualization', '1', {packages: ['corechart', 'bar']});
google.setOnLoadCallback(drawTitleSubtitle);

function drawTitleSubtitle() {
      var data = google.visualization.arrayToDataTable([
	     ['Agent', "Sales"],


      {% for k, v  in data.items %}
        ["{{k}}",

	        {{v}},


],
      {% endfor %}

  ]);

      var options = {
        chart: {
          title: 'Ticket Sales and Reserves by Movies',
          subtitle: '{{from|date:"SHORT_DATE_FORMAT"}} - {{to|date:"SHORT_DATE_FORMAT"}}'
        },
        hAxis: {
          title: 'Total Population',
          minValue: 0,
        },
        vAxis: {
          title: 'Movie'
        },
        bars: 'horizontal'
      };
      var material = new google.charts.Bar(document.getElementById('chart_div'));
      material.draw(data, options);

      function selectHandler() {
          var selectedItem = material.getSelection()[0];
          if (selectedItem) {
            var topping = data.getValue(selectedItem.row, 0);
                var from = $("#datepicker_from").val().split("/");
                var to = $("#datepicker_to").val().split("/");
                window.location = "http://localhost:8000/getticketsalesorderstime?lookup="+topping;
          }
        }

        google.visualization.events.addListener(material, 'select', selectHandler);
        chart.draw(data, options);

    }</script>

{% endblock %}

{% block css %}
<style>
    td{
    padding:10px;}
</style>
{% endblock %}

{% block header %}
  <header>
	{% if user%}
	  <button onclick="logout()" > Logout</button>
	{% endif %}
      	<nav>
<input type="text" id="datepicker_from" placeholder="Date from:">
	<input type="text" id="datepicker_to" placeholder="Date to:">
	<input type="button" value="Filter" onclick="filter_data()"/>
      	</nav>
   </header>
{% endblock %}

{% block main%}
<div class="main" style="min-height: 500px;">

 <div id="chart_div" style="width: 900px; height: 500px;min-height: 400px; margin-top:40px; width: 90%;"></div>

</div>

<div>
    <table>
        <tr>
            <th>Date</th>
            <th>Sum</th>
            <th>Count</th>
        </tr>
        {% for k, t in table.items %}
        <tr>

            <td>{{k}}</td>
            {% for val in t%}
            <td>{{val}}</td>

            {% endfor %}
        </tr>

        {% endfor %}
    </table>
</div>
{% endblock %}
