body{
    	font-family:"Century Gothic";
    }
    center{
    	height: 20px;
    }
    	ul li{
    		list-style:none;
    		height: 20px;
    	}
    	li{ list-stye:none;}
    	.seat:hover{
    		background-color: #444;
    		height: 20px;
    	}
    	.seat{
    		display: inline-block; 
    		width: 20px; 
    		height:20px; 
    		border:solid 1px;
    	    cursor:pointer;
    	    border-radius:2px;
    	}
    	.seat_{
    		display: inline-block; 
    		width: 20px; 
    		height:20px; 
    		border:solid 1px #eeeeee;;
    		
    	    
    	    
    	}
    	.seat_title{
    		float:left;
    		margin-left: 150px;
    		display: inline-block; 
    		width: 20px; 
    		height:20px; 
    		border:solid 1px;
    	    cursor:pointer;
    	    vertical-align:middle;
    	    
    	}
    	.seat_title_right{
    		float:right;
    		margin-right: 150px;
    		display: inline-block; 
    		width: 20px; 
    		height:20px; 
    		border:solid 1px;
    	    cursor:pointer;
    	    vertical-align:middle;
    	    
    	}
    	.caption{
    		position:fixed;
    		right: 200px;
    		top: 40px;
    		font-size: 20pt;
    	}
    	
    	.std{
    		background-color: #368dd7;
    	}
    	.sta{
    		background-color: #0a6abc;
    	}
    	.eco{
    		background-color: #6988a2;
    	}
    	.vip{
    		background-color: #a2c1dc;
    	}
    	.caption_hall{
    		padding: 10px;
    	    background-color: #8bb1de;
    		font-size: 20pt;
    		margin-bottom: 30px;	
    	}
    	#seat_types li {
    		vertical-align: middle;
    		margin-top: 4px;
    		padding-bottom: 5px;
    	}
    	#seat_types label{
    		margin: 4px;
    	}
    	#seat_types {
    		position:fixed;
    		left: -10px;
    		top: 80px;
    	}
    	.inner{
    		color: #fff;
    		font-size: 8pt;
    		margin-top: 3px;
    		font-family:"Century Gothic";
    	}
