body{
    	font-family:"Century Gothic";
    }
    center{
    	height: 20px;
    }
    	ul li{
    		list-style:none;
    		height: 20px;
    	}
    	li{ list-stye:none;}
    	.seat:hover{
    		
    		height: 20px;
    	}
    	.seat{
    		display: inline-block; 
    		width: 20px; 
    		height:20px; 
    		border:solid 1px;
    	    
    	    border-radius:2px;
    	}
    	.seat_{
    		display: inline-block; 
    		width: 20px; 
    		height:20px; 
    		border:solid 1px #eeeeee;;
    		
    	    
    	    
    	}
    	.seat_title{
    		float:left;
    		margin-left: 150px;
    		display: inline-block; 
    		width: 20px; 
    		height:20px; 
    		border:solid 1px;
    	    cursor:pointer;
    	    vertical-align:middle;
    	    
    	}
    	.seat_title_right{
    		float:right;
    		margin-right: 150px;
    		display: inline-block; 
    		width: 20px; 
    		height:20px; 
    		border:solid 1px;
    	    cursor:pointer;
    	    vertical-align:middle;
    	    
    	}
    	
    	
    	
    	.caption_hall{
    		padding: 10px;
    	    background-color: #8bb1de;
    		font-size: 20pt;
    		margin-bottom: 30px;	
    		
    	}
    	
    	.inner{
    		color: #fff;
    		font-size: 8pt;
    		margin-top: 3px;
    		font-family:"Century Gothic";
    	}
    	#seat_types {
	width:150px;
    position:fixed;
    left: -20px;
    top: 80px;
}
