body{
	font-family:"Century Gothic";
}
center{
    height: 25px;
}
ul li{
    list-style:none;
    height: 25px;
}
li{ 
	list-stye:none;
}
.seat:hover{
    
    height: 25px;
}
.seat{
    display: inline-block; 
    width: 25px; 
    height:25px; 
    border:solid 1px;
    border-radius:2px;
}
.seat_title{
    float:left;
    margin-left: 350px;
    display: inline-block; 
    width: 25px; 
    height:25px; 
    border:solid 1px;
    cursor:pointer;
    vertical-align:middle;
}
.seat_title_right{
    float:right;
    margin-right: 350px;
    display: inline-block; 
    width: 25px; 
    height:25px; 
    border:solid 1px;
    cursor:pointer;
    vertical-align:middle;
}
.caption{
    position:fixed;
    right: 200px;
    top: 0px;
    font-size: 20pt;
}
.caption_hall{
    padding: 10px;
    background-color: #8bb1de;
    font-size: 20pt;
    margin-bottom: 30px;	
}
#seat_types {
    position:fixed;
    right: 120px;
    top: 80px;
}
.inner{
    color: #fff;
    font-size: 8pt;
    margin-top: 5px;
    font-family:"Century Gothic";
}