body {
	background-color: #eeeeee;
	min-height:800px;	
}

.fill_li{
	text-decoration:none;
	cursor:pointer;
	list-style:none;
}


.search_table td{
	width:auto;
	padding-left: 10px;
	padding-right:10px;
	text-align:right;
}
.search_table th{
	text-align:right;
	width:auto;
	border-bottom: 1px solid #000000;
}
.search_table td > span{

}
.search_table td.date{
width:auto;
	
}
.main{
	min-height: 500px;
}
.seat_types{
	width: 170px;
}
.order{
	padding:10px;
	background-color: rgba(0,0,0,.5);
	width: 400px;
	height: 140px;
	position: fixed;
	left: 400px;
	top:300px;
}
.order_list{
	padding:10px;
	background-color: rgba(0,0,0,.5);
	width: 400px;
	height: auto;
	position: fixed;
	left: 400px;
	top:300px;
}
#order_table td ,th{
	
	text-align: center;
}
#order_table th.r, th.s, th.p{
	width: 40px;
}
#order_table th.c{
	width: 110px;
}
.movie{
	position:absolute;
	top: 20px;
	right: 130px;
	
}
.seat__{
	width: 180px;
}
.pin_input{
	padding:10px;
	background-color: rgba(0,0,0,.5);
	width: 300px;
	height: 40px;
	position: fixed;
	left: 400px;
	top:300px;
}
.pin_input #pin_input{
	width: 80px;
}